<template lang="pug">
  .ContentArea-wrap
    .page-intro-wrap(ref="intro")
      .page-intro(
        v-if="copy.contentPageIntro"
        v-html="getIntroHTML()"
      )
      .score-wrap
        ScoringTotal(
          v-if="appSwitches.scoringActive"
          :runningTotal="runningTotal"
        )
    .filterSort-wrap(v-if="appSwitches.filterActive || appSwitches.sortActive")
      GridFilter(
        v-if="appSwitches.filterActive"
        :filterOption="filterOption"
        :categories="categories"
        @filter="updateFilter($event)"
      )
      GridSort(
        v-if="appSwitches.sortActive"
        :sortOption="sortOption"
        @sort="updateSort($event)"
      )
    ItemGrid(
      :appData="appData"
      :categories="categories"
      :appSwitches="appSwitches"
      :filterOption="filterOption"
      :sortOption="sortOption"
      :selectedItems="selectedItems"
      @tile-click="clickHandleTile($event)"
      @score-btn-click="clickHandleScore($event)"
    )
    InfoOverlay(
      :selectedItem="selectedItem"
      :selectedItems="selectedItems"
      @score-btn-click="clickHandleScore($event)"
      :scoringActive="appSwitches.scoringActive"
    )
    transition(name="slideFade")
      StickyTotal(:runningTotal="runningTotal" v-if="showStickyTotal && appSwitches.scoringActive")
</template>

<script>
import { markdown } from 'markdown';

import ItemGrid from '~/components/template/boxGrid/els/ItemGrid.vue';
import InfoOverlay from '~/components/template/boxGrid/els/InfoOverlay.vue';
import GridFilter from '~/components/template/boxGrid/els/GridFilter.vue';
import GridSort from '~/components/template/boxGrid/els/GridSort.vue';
import StickyTotal from '~/components/template/boxGrid/els/StickyTotal.vue';
import ScoringTotal from '~/components/template/boxGrid/els/ScoringTotal.vue';
import EventBus from '~/assets/js/EventBus.js';


export default {
  name: 'ContentArea',
  components: {
    ItemGrid,
    InfoOverlay,
    GridFilter,
    GridSort,
    ScoringTotal,
    StickyTotal,
  },
  props: {
    copy: {
      type: Object,
      required: true,
    },
    appData: {
      type: Array,
      required: true,
    },
    categories: {
      type: Array,
      required: true,
    },
    appSwitches: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      filterOption: false,
      sortOption: null,
      selectedItem: false,
      selectedItems: [],
      currentScroll: 0,
      stickyTotalOffset: 0,
    };
  },
  computed: {
    runningTotal() {
      let total = 0;
      this.selectedItems.forEach((element) => {
        total += Number(element.score);
      });
      return total;
    },
    showStickyTotal() {
      if ((this.appSwitches.stickyTotal && this.currentScroll >= this.stickyTotalOffset) && this.currentScroll > 0) return true;
      return false;
    },
  },
  mounted() {
    setTimeout(() => {
      this.stickyTotalOffset = this.$refs.intro.offsetHeight + this.$refs.intro.offsetTop;
    }, 500);
    window.addEventListener('scroll', () => {
      this.currentScroll = document.documentElement.scrollTop;
    });
  },
  methods: {
    updateFilter(selectedFilter) {
      this.filterOption = selectedFilter;
    },
    updateSort(selectedSort) {
      this.sortOption = selectedSort;
    },
    clickHandleTile(selectedTile) {
      this.selectedItem = selectedTile;
      EventBus.$emit('open-modal', 'infoOverlay');
    },
    clickHandleScore(event) {
      const index = this.selectedItems.findIndex(item => item.name === event.itemid);
      if (index >= 0) {
        this.selectedItems.splice(index, 1);
      } else {
        this.selectedItems.push({
          name: event.itemid,
          score: event.score,
        });
      }
    },
    getIntroHTML() {
      return markdown.toHTML(this.copy.contentPageIntro);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.ContentArea-wrap
  .filterSort-wrap
    display: flex
    justify-content: space-between
    flex-direction: column
    margin: 20px 0
    padding: 20px 0
    align-items: center
    border-top: 3px solid $borderColor
    border-bottom: 3px solid $borderColor
    @media screen and (min-width: $desktop)
      flex-direction: row
    .sort
      display: flex
  .page-intro-wrap
    padding: 40px 0
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    @media screen and (min-width: $tablet)
      flex-direction: row
    .score-wrap
      // width: 20%
    .page-intro
      max-width: 90%
      @media screen and (min-width: $desktop)
        max-width: 60%

</style>
