<template lang="pug">
  .Header-wrap
    .nav
      .home-link
        button(@click="homeBtnClick") {{ pieceTitle }}
      .links
        a(v-if="textLink && copy.clientLink" :href="copy.clientLink") {{ copy.clientName }}
        AboutBtn(:aboutCopy="aboutCopy" :pieceTitle="pieceTitle")

</template>


<script>
import AboutBtn from '~/components/social/AboutBtn.vue';

export default {
  name: 'Header',
  components: {
    AboutBtn,
  },
  props: {
    aboutCopy: {
      type: [String, Boolean],
      default: false,
    },
    pieceTitle: {
      type: String,
      required: true,
    },
    textLink: {
      type: Boolean,
      required: true,
    },
    copy: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  methods: {
    homeBtnClick() {
      this.$emit('home-btn-click');
    },
  },
};
</script>


<style lang="sass" scoped>
  @import '~/assets/sass/mixins.sass'
  .Header-wrap
    .nav
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column
      @media screen and (min-width: $tablet)
        flex-direction: row
      .home-link
        button
          font-family: $font2
          font-size: 3rem
          font-weight: 700
          position: relative
          @extend .header-underline
      .links
        display: flex
        align-items: center
</style>

<style lang="sass">
  @import '~/assets/sass/mixins.sass'
  .Header-wrap
    .nav
      .links
        a, button
          position: relative
          text-decoration: none
          text-transform: uppercase
          font-family: $font2
          font-weight: 700
          z-index: 0
          margin: 20px
          color: $topNavLinkColor
          font-size: 1.8rem

          &:before
            position: absolute
            content: ""
            width: 50%
            height: 2px
            left: -10px
            top: 6px
            margin: auto
            background: $gradient
            z-index: -1
            transition: all .3s
          &:hover
            &:before
              opacity: 0
</style>
