<template lang="pug">
  .Splash-wrap
    .content-wrap
      p.preSplash(v-if="copy.splashPreTitle") {{ copy.splashPreTitle }}
      h1 {{ copy.pieceName }}
      .seperator
      div.splash-copy(v-html="getSplashCopy()" v-if="copy.splash")
      .input-wrap(v-if="appSwitches.userInputActive")
        .input-group
          label(for="budget") Budget:
          vue-numeric(currency="£" separator="," v-model="userInput" :min="0" :max="1000000" :minus="false" autofocus)
      button.btn.gradient.block(@click="splashBtnClick") Enter

</template>


<script>
import { markdown } from 'markdown';
import VueNumeric from 'vue-numeric';

export default {
  name: 'Splash',
  components: {
    VueNumeric,
  },
  props: {
    copy: {
      type: Object,
      required: true,
    },
    appSwitches: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      userInput: 0,
    };
  },
  watch: {
    userInput() {
      this.$emit('user-input-change', this.userInput);
    },
  },
  methods: {
    splashBtnClick() {
      this.$emit('splash-btn-click');
    },
    getSplashCopy() {
      return markdown.toHTML(this.copy.splash);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.Splash-wrap
  min-height: 100vh
  display: flex
  align-items: center
  background-image: url('~assets/img/content-bg.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  .content-wrap
    max-width: 38em
    padding: 20px
    margin: 0 auto
    text-align: center
    .seperator
      width: 20%
      height: 2px
      background: $gradient
      margin: 20px auto

    .preSplash
      margin-bottom: 10px
      font-size: 1.8rem
    h1
      font-size: 4rem
      margin: 0
      @media screen and (min-width: $tablet)
        font-size: 8rem

  .splash-copy
    margin-bottom: 40px
    font-size: 1.5rem
    @media screen and (min-width: $tablet)
      font-size: 2rem
  .input-wrap
    margin-bottom: 20px
    text-align: left
    .input-group
      display: flex
      flex-direction: column
      &:after
        content: ""
        width: 100%
        height: 2px
        bottom: 0
        left: 0
        background: $gradient
      label
        margin-bottom: 10px
      input
        font-family: $font2
        font-weight: 700
        font-size: 4rem
        padding: 10px 40px
        border: none
        &:focus
          outline: none
</style>
