<template lang="pug">
  .Tile1-wrap(:class="outerClasses" :style="outerStyle" @click="outerClick")
    .img-wrap
      .img(v-if="imgUrl" :style="imgStyle")
    p.title(v-if="title" :style="{marginBottom: subTitle ? 0 : '10px'}") {{title}}
    p.sub-title(v-if="subTitle") {{subTitle}}
    .html-copy-container(v-if="copyHtml" v-html="sanitizeTheHtml(copyHtml)")
    .copy-container(v-else-if="copy") {{copy}}

    Btn1(
      :text="btnText"
      :callback="btnClick"
      :isDisabled="isDisabled"
      :scaleHover="!scaleHover"
      :backgroundColor="btnBackgroundColor"
      :textColor="btnTextColor"
      block
    )
</template>


<script>
import sanitizeHtml from 'sanitize-html';
import Btn1 from '~/components/template/megapage/Btn1.vue';

export default {
  name: 'Tile1',
  components: {
    Btn1,
  },
  props: {
    id: {
      type: String,
      default: 'defaultTile1Id',
    },
    action: {
      type: Function,
      default: () => {},
    },
    tileClickable: {
      type: Boolean,
      default: false,
    },
    isActive: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
    title: {
      type: [Boolean, String],
      default: 'Title',
    },
    subTitle: {
      type: [Boolean, String],
      default: false,
    },
    copy: {
      type: [Boolean, String],
      default: 'Copy',
    },
    copyHtml: {
      type: [Boolean, String],
      default: false,
    },
    fluid: {
      type: Boolean,
      default: false,
    },
    tileWidth: {
      type: [Number, String],
      default: 300,
    },
    tileMaxWidth: {
      type: [Number, String],
      default: '100%',
    },

    imgUrl: {
      type: [Boolean, String],
      default: false,
    },
    imgHeight: { // mutually exclusive with imgSquare
      type: Number,
      default: 300,
    },
    imgSquare: { // mutually exclusive with imgHeight
      type: Boolean,
      default: false,
    },
    imgRounded: {
      type: Boolean,
      default: false,
    },
    imgSize: {
      type: [String],
      default: 'cover',
      validator(val) {
        const condition = val === 'cover' || val === 'contain';
        if (!condition) console.warn('WARNING: imgSize prop requires a value of either "cover" or "contain"');
        return condition;
      },
    },

    btnText: {
      type: String,
      default: 'Button',
    },
    btnBackgroundColor: {
      type: String,
      default: 'grey',
    },
    btnTextColor: {
      type: String,
      default: 'white',
    },

    tileBackgroundColor: {
      type: String,
      default: 'lightgrey',
    },
    tileBackgroundColorActive: {
      type: String,
      default: 'lightgrey',
    },
    tileTextColor: {
      type: String,
      default: '#000',
    },
    tileTextColorActive: {
      type: String,
      default: '#000',
    },
    scaleHover: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  computed: {
    imgStyle() {
      if (!this.imgUrl) return false;
      return {
        height: this.imgSquare ? 0 : `${this.imgHeight}px`,
        paddingTop: this.imgSquare ? '50%' : 0,
        paddingBottom: this.imgSquare ? '50%' : 0,
        backgroundImage: `url(${this.imgUrl})`,
        backgroundSize: this.imgSize,
        borderRadius: this.imgRounded ? '50%' : 0,
      };
    },

    outerStyle() {
      const getWidth = () => {
        if (this.fluid) return 'auto';
        const formatted = typeof this.tileWidth === 'number'
          ? `${this.tileWidth}px`
          : this.tileWidth;
        return formatted;
      };

      const getMaxWidth = () => {
        const formatted = typeof this.tileMaxWidth === 'number'
          ? `${this.tileMaxWidth}px`
          : this.tileMaxWidth;
        return formatted;
      };

      return {
        width: getWidth(),
        maxWidth: getMaxWidth(),
        backgroundColor: this.isActive ? this.tileBackgroundColorActive : this.tileBackgroundColor,
        color: this.isActive ? this.tileTextColorActive : this.tileTextColor,
        cursor: this.tileClickable ? 'pointer' : 'default',
      };
    },

    outerClasses() {
      return [
        this.isActive && 'active',
        this.isDisabled && 'disabled',
        this.scaleHover && !this.isDisabled && !this.isActive && 'hover-scale',
      ];
    },

    outerClick() {
      return this.tileClickable ? this.action : () => {};
    },

    btnClick() {
      return this.tileClickable ? () => {} : this.action;
    },
  },
  methods: {
    sanitizeTheHtml(html) {
      return sanitizeHtml(html);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.Tile1-wrap
  box-sizing: border-box
  padding: 10px
  transition: opacity 0.2s, transform 0.2s
  @media screen and (min-width: $phone)
    padding: 20px
  &.disabled
    opacity: 0.5
    cursor: default
  &.hover-scale
    &:hover
      transform: scale(1.02)

  .img-wrap
    @media screen and (min-width: $phablet)
      padding: 20px
    .img
      background-repeat: no-repeat
      background-position: center

  .title
    font-size: 2rem
    text-align: center
    font-weight: bold
    margin-bottom: 0

  .sub-title
    margin: 0 0 20px
    font-size: 1.5rem
    font-style: italic
    text-align: center

  .copy-container,
  .html-copy-container
    margin-bottom: 20px
    line-height: 1.4em

</style>

<style lang="sass">
.Tile1-wrap
  .html-copy-container
    p:last-of-type
      margin-bottom: 0

</style>
