<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
      <!-- GA tracking -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141540738-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-141540738-1');
      </script>

      <!-- GA tracking -->
    {{ HEAD }}
    <style>
      @import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700|Patua+One&display=swap');
    </style>
    <!-- <style type='text/css' media='screen,print'>

    </style> -->
  </head>
  <body {{ BODY_ATTRS }}>

     {{ APP }}


  </body>
</html>
