<template lang="pug">
  span.NumberTweener-wrap {{tweenedVal | round | format}}
</template>


<script>
import TWEEN from '@tweenjs/tween.js';
import numeral from 'numeral';

export default {
  name: 'NumberTweener',
  components: {},
  filters: {
    round(val) {
      return Math.round(val);
    },
    format(val) {
      return numeral(val).format('0,0');
    },
  },
  props: {
    startVal: {
      type: Number,
      default: 0,
    },
    endVal: {
      type: Number,
      required: true,
    },
    duration: {
      type: Number,
      default: 1000,
    },
    delay: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      tweenedVal: 0,
      tweenedValCached: 0,
      tweenHandle: false,
    };
  },

  computed: {},

  watch: {
    endVal() {
      this.tweenHandle.stop();
      this.go();
      this.tweenHandle.start();
    },
  },

  mounted() {
    this.go();
    setTimeout(() => {
      this.tweenHandle.start();
    }, this.delay);
  },

  methods: {
    go() {
      function animate(time) {
        requestAnimationFrame(animate);
        TWEEN.update(time);
      }

      // Setup the animation loop.
      requestAnimationFrame(animate);

      // Start at this.tweenedValCached - this is updated at the end of each tween cycle
      // it makes it countup smoothly from the last val rather than from 0 etc
      const obj = { val: this.tweenedValCached };

      this.tweenHandle = new TWEEN.Tween(obj) // Create a new tween that modifies 'obj'.
        .to({ val: this.endVal }, this.duration) // Move 'this.endVal' in 'this.duration'.
        .easing(TWEEN.Easing.Exponential.InOut) // Use Exponential easing.
        .onUpdate(() => {
          this.tweenedVal = obj.val;
        })
        .onComplete(() => {
          this.tweenedValCached = obj.val;
        })
        .onStop(() => {
          this.tweenedValCached = obj.val;
        });
    },
  },
};
</script>


<style lang="sass" scoped>
.NumberTweener-wrap
</style>
