<template lang="pug">
  .PreLoader-wrap
    .inner
      .spinner-wrap
        BounceLoader(color="#fff")
      .text-wrap(v-if="showText")
        p.text(if="pieceTitle !== ''") {{pieceTitle}}
        p.text.loading loading
</template>


<script>
import BounceLoader from 'vue-spinner/src/BounceLoader.vue';

export default {
  name: 'PreLoader',
  components: {
    BounceLoader,
  },
  props: {
    pathsToLoad: {
      type: Array,
      default() { return []; },
    },
    pieceTitle: {
      type: String,
      default: '',
    },
    showText: {
      type: Boolean,
      default: true,
    },
    minLifetime: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      completedRequests: 0,
      lifetime: 0,
    };
  },
  watch: {
    completedRequests(newVal) {
      if (newVal === this.pathsToLoad.length) this.loadingComplete();
    },
  },
  mounted() {
    // safety timeout of 20s
    this.t = setTimeout(() => {
      this.loadingComplete();
    }, 20000);

    this.t2 = setInterval(() => {
      this.lifetime += 500;
    }, 500);

    // if nothing to load, complete
    if (!this.pathsToLoad.length) this.loadingComplete();

    this.pathsToLoad.forEach((imgPath) => {
      const el = new Image();
      el.addEventListener('load', () => { this.completedRequests += 1; });
      el.addEventListener('error', () => { this.completedRequests += 1; });
      el.src = imgPath;
    });
  },
  beforeDestroy() {
    if (window) clearTimeout(this.t);
    if (window) clearInterval(this.t2);
  },
  methods: {
    loadingComplete() {
      if (this.lifetime < this.minLifetime) {
        const diff = this.minLifetime - this.lifetime;
        setTimeout(() => {
          this.$emit('preload-complete', this.pathsToLoad);
        }, diff);
      } else {
        this.$emit('preload-complete', this.pathsToLoad);
      }
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.PreLoader-wrap
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $color1
  .inner
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    max-width: 90%
    min-width: 270px
    box-sizing: border-box
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      left: 0
      margin: auto
      width: 100%
      height: 0
      padding-bottom: 100%
      background-color: rgba(white, 0.1)
      border-radius: 50%
      z-index: 0
    .text-wrap
      position: relative
      margin-top: 20px
      z-index: 1
    .spinner-wrap
      position: relative
      z-index: 1
    .text
      color: #fff
      font-family: sans-serif
      font-weight: bold
      text-transform: uppercase
      text-align: center
      margin: 0
      margin-bottom: 5px
      &.loading
        font-weight: lighter
        text-transform: none
        font-size: 0.8em
        letter-spacing: 0.05em
</style>
