@import './mixins'

html
  font-family: $font1
  font-size: 10px
  scroll-behavior: smooth!important;

body
  font-size: 1.6em



html.lock-scrolling
  position: fixed
  overflow: hidden
  body
    position: fixed
    overflow: hidden

.v--modal-box
  padding: 20px

button
  background-color: transparent
  border: none
  &:focus
    outline: none

.v--modal-box
  text-align: center
  font-size: 1rem
  background-color: #fff
  border-radius: 5px



// Button Styles
.btn
  padding: 20px 30px
  cursor: pointer
  border-radius: 50px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  transition: transform .2s
  border: 2px solid transparent
  display: inline-block
  transition: all .2s
  font-size: 1.6rem
  &:hover
    border: 2px solid $color1
    color: $color1
  &.thin
    padding: 5px 30px
    height: 35px
  &.active
    background: $gradient
    color: #fff
    box-shadow: 0px 0px 20px $color1
    cursor: default

  &.gradient
    background: $gradient
    color: #fff
    box-shadow: 0px 0px 20px $color1
    &:hover
      color: $color1
      background: #fff
      box-shadow: 0px 0px 20px #fff

    transition: all .2s
  &.block-color
    background-color: $color1
    color: #fff
    box-shadow: 0px 0px 20px $color1
  &.block
    width: 40%
  &.white
    background-color: #fff
    color: #000
    box-shadow: 0px 0px 20px rgba(#fff,0.6)
    &:hover
      color: #fff
      background: $gradient
      box-shadow: 0px 0px 20px $color1
