//MEDIA QUERIES
$phone: 400px
$phone-wide: 480px
$phablet: 560px
$tablet-small: 640px
$tablet: 768px
$tablet-wide: 1024px
$desktop: 1248px
$desktop-wide: 1440px
$browser-context: 16

$header-height: 95px
$header-height-mob: 55px

//FONTS
$font1: sans-serif
$font2: hattenschweiler, sans-serif
$font3: sans-serif

$color1: goldenrod
$color2: skyblue
$color3: grey
$color4: lightgrey

=flex_layout()
  display: flex
  flex-direction: column
  flex: 1 0 auto


// Boxgrid var defaults
$borderColor: #cccccc
$topNavLinkColor: #b0b0b0

$itemBorderColor: #eaeaea

$gradient: linear-gradient(to right, $color1, $color2)

$gradient2: linear-gradient(to right, #4ebedc, #484ccb)

// Overlay Colors
$overlayText: #fff
$overlayGradient: linear-gradient(to right, #000000, #262320)

.header-underline
  position: relative
  &:before
    position: absolute
    content: ""
    width: 20%
    height: 2px
    right: -10px
    bottom: 0
    margin: auto
    background: $gradient
    z-index: 0
