.fade-enter-active,
.fade-leave-active
  transition: opacity 0.3s
.fade-enter,
.fade-leave-to
  opacity: 0

.scale-enter-active,
.scale-leave-active
  transition: transform 0.3s
.scale-enter,
.scale-leave-to
  transform: scale(0)
