<template lang="pug">
  .GraphSection-wrap
    .btn-container
      .btn-wrap(v-for="(chart, index) in chartData" :key="chart.slug")
        WaypointAnimation(:delay="600 + (index * 50)" animationName="scaleIn")
          Btn1(
            :id="chart.slug"
            :text="chart.name"
            :callback="() => { clickHandleChartSelectBtn(chart.slug); }"
            :isActive="isBtnActive(chart.slug)"
            :isDisabled="disableChartBtns"
            :dimWhenDisabled="false"
            backgroundColor="lightgrey"
            activeBackgroundColor="#be1622"
            textColor="black"
            activeTextColor="white"
            block
          )
    WaypointAnimation(:delay="200")
      Container1
        FakeSlider(
          ref="slider2"
          :duration="300"
          fadeTransition
        )
          InfoStrip(
            :iconUrl="getChartIcon(chartObj.slug)"
            :graphicUrl="getChartImg(chartObj.slug)"
            :title="chartObj.longName"
            :descriptionHTML="chartObj.descriptionHTML"
          )

        FakeSlider(
          ref="slider1"
          :duration="300"
          showArrows
          @prev-btn-clicked="clickHandleSliderArrow('prev')"
          @next-btn-clicked="clickHandleSliderArrow('next')"
        )
          no-ssr
            highcharts(ref="chart1" :options="chartOptions")
</template>


<script>
import FakeSlider from '~/components/template/megapage/FakeSlider.vue';
import Btn1 from '~/components/template/megapage/Btn1.vue';
import Container1 from '~/components/template/megapage/Container1.vue';
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';
import InfoStrip from '~/components/template/megapage/sample/InfoStrip.vue';
import numeral from 'numeral';

export default {
  name: 'GraphSection',
  components: {
    FakeSlider,
    Btn1,
    Container1,
    InfoStrip,
    WaypointAnimation,
  },

  props: {
    chartData: {
      type: Array,
      required: true,
    },
    chartColor: {
      type: String,
      default: '#fd9',
    },
    chartColorIsDark: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      activeChartSlug: this.chartData[0].slug,
      disableChartBtns: false,
    };
  },

  computed: {
    chartObj() {
      return this.chartData.find(chart => chart.slug === this.activeChartSlug);
    },


    chartObjIndex() {
      return this.chartData.findIndex(chart => chart.slug === this.activeChartSlug);
    },


    chartObjSorted() {
      const clone = JSON.parse(JSON.stringify(this.chartObj));
      return clone.years.sort((a, b) => a.year - b.year);
    },


    predictionPlotbandStartYear() {
      for (let i = 0; i < this.chartObjSorted.length; i += 1) {
        const year = this.chartObjSorted[i];
        if (year.prediction) return year.year;
      }
      return false;
    },


    predictionPlotbandEndYear() {
      if (!this.predictionPlotbandStartYear) return false;
      return this.chartObjSorted[this.chartObjSorted.length - 1].year + 1;
    },


    chartOptions() {
      return {
        chartColorIsDark: this.chartColorIsDark,
        chart: {
          type: 'area',
          backgroundColor: '#e5e5e5',
          plotBackgroundColor: '#fff',
          marginTop: 40,
          style: {
            maxWidth: '100%',
          },
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          allowDecimals: false,
          gridLineWidth: 2,
          gridLineColor: 'rgba(0,0,0,0.1)',
          endOnTick: false,
          startOnTick: false,
          plotBands: {
            from: this.predictionPlotbandStartYear,
            to: this.predictionPlotbandEndYear,
            color: 'rgba(0, 61, 156, 0.2)',
            className: 'prediction-plotband',
            label: {
              text: 'Prediction',
              useHTML: true,
              style: {
                color: 'rgba(0, 61, 156, 0.5)',
                transform: 'translateY(-30px)',
                textTransform: 'uppercase',
              },
            },
          },
          labels: {
            rotation: -90,
          },
          title: {
            text: 'Years',
            offset: 60,
          },
        },
        yAxis: {
          gridLineWidth: 1,
          gridLineColor: 'rgba(0,0,0,0.05)',
          title: {
            text: 'Amount($)',
          },
        },
        legend: {
          enabled: false,
        },
        title: {
          text: '',
        },
        plotOptions: {
          series: {
            fillOpacity: 0.1,
            color: this.chartColor,
            lineWidth: 0,
          },
          area: {
            marker: {
              radius: 10,
            },
          },
        },
        tooltip: {
          padding: 0,
          // borderRadius: 30,
          backgroundColor: 'transparent',
          borderColor: 'transparent',
          shadow: false,
          useHTML: true,
          formatter() {
            const { point, x: year, y: averageWinning } = this;
            const { chart } = this.series;
            const { events } = point;
            const formatVal = val => numeral(val).format('0,0');
            return `
              <div class="tooltip-outer">
                <div class="header" style="background-color: ${this.color}; color: ${chart.userOptions.chartColorIsDark ? 'white' : 'initial'}">
                  <p class="title">${year}</p>
                  <p class="average">Avg. winnings: £${formatVal(averageWinning)}</p>
                </div>
                <div class="body">
                  ${events.map(event => `
                    <div class="row">
                      <p class="event-name">${event.name}:</p>
                      <p class="event-value">£${formatVal(event.value)}</p>
                    </div>
                  `).join('')}
                </div>
              </div>
            `;
          },
        },
        series: [
          {
            line: {
              name: this.chartObjSorted.name,
            },
            data: this.chartObjSorted.map(year => ({
              x: year.year,
              y: year.average,
              events: year.events,
            })),
          },
        ],
      };
    },
  },

  methods: {
    getChartImg(slug) {
      // try {
      //   const item = require(`~/assets/img/chart-imgs/${slug}.jpg`);
      //   return item;
      // } catch (err) {
      //   console.warn(`Warning: Missing asset with the slug: '${slug}'`);
      //   return '';
      // }
      return 'https://placehold.it/500x300';
    },


    getChartIcon(slug) {
      // try {
      //   const item = require(`~/assets/img/chart-icons/${slug}.svg`);
      //   return item;
      // } catch (err) {
      //   console.warn(`Warning: Missing asset with the slug: '${slug}'`);
      //   return '';
      // }
      return 'https://placehold.it/500x300';
    },


    clickHandleChartSelectBtn(slug) {
      if (this.activeChartSlug === slug) return;
      this.disableChartBtns = true;

      const isBackward = this.chartData.findIndex(chart => chart.slug === slug) < this.chartObjIndex;
      const callback = () => {
        this.activeChartSlug = slug;
        this.disableChartBtns = false;
      };


      this.$refs.slider2.triggerTransition();
      if (isBackward) {
        this.$refs.slider1.transitionBackward(callback);
      } else {
        this.$refs.slider1.transitionForward(callback);
      }
    },


    clickHandleSliderArrow(direction) {
      this.disableChartBtns = true;

      let slug;
      if (direction === 'prev') {
        const index = (this.chartObjIndex - 1) < 0
          ? this.chartData.length - 1
          : this.chartObjIndex - 1;
        slug = this.chartData[index].slug; /* eslint-disable-line prefer-destructuring */
      } else {
        const index = (this.chartObjIndex + 1) > (this.chartData.length - 1)
          ? 0
          : this.chartObjIndex + 1;
        slug = this.chartData[index].slug; /* eslint-disable-line prefer-destructuring */
      }

      const callback = () => {
        this.activeChartSlug = slug;
        this.disableChartBtns = false;
      };

      this.$refs.slider2.triggerTransition();
      if (direction === 'prev') {
        this.$refs.slider1.transitionBackward(callback);
      } else {
        this.$refs.slider1.transitionForward(callback);
      }
    },


    isBtnActive(slug) {
      return slug === this.chartObj.slug;
    },
  },
};

</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.GraphSection-wrap
  background-color: $color4
  .btn-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 800px
    max-width: 100%
    margin: 0 auto
    padding: 20px 0
    .btn-wrap
      box-sizing: border-box
      padding: 5px
      flex: 1 0 100%
      @media screen and (min-width: $phone)
        padding: 10px
      @media screen and (min-width: $phablet)
        flex: 1 0 50%
      @media screen and (min-width: $tablet)
        flex: 1 0 33.333333%

</style>


<style lang="sass">
@import '~/assets/sass/mixins.sass'

.highcharts-yaxis .highcharts-axis-title,
.highcharts-xaxis .highcharts-axis-title
  font-size: 2.5rem
  font-family: $font2
.highcharts-yaxis .highcharts-axis-title tspan,
.highcharts-xaxis .highcharts-axis-title tspan
  fill: black

.prediction-plotband
  transform: scaleY(1.35) translateY(-10%)

.highcharts-tooltip
  span
    width: 320px
    overflow: auto
    white-space: normal !important
    box-shadow: 0px 0px 10px rgba(black, 0.2)
    border-radius: 10px
    .tooltip-outer
      border-radius: 10px
      overflow: hidden
      background-color: white
      p
        margin: 0 0 10px
        &:last-of-type
          margin: 0
      .header
        padding: 10px
        font-family: $font2
        text-align: center
        .title
          font-size: 3rem
          margin-bottom: 0
        .average
          font-size: 1.5rem

      .body
        padding: 10px
        .row
          display: flex
          justify-content: space-between
          align-items: center
          &:nth-child(even)
            background-color: #eee
          .event-name,
          .event-value
            margin-bottom: 0
            padding: 5px
          .event-name
            font-family: $font2
          .event-value

</style>
