<template lang="pug">
  .InfoStrip-wrap
    .text
      .icon(:style="{backgroundImage: `url(${iconUrl})`}")
      p.title {{title}}
      .copy-container(v-html="descriptionHTML")
    .graphic(:style="{backgroundImage: `url(${graphicUrl})`}")
</template>


<script>

export default {
  name: 'InfoStrip',
  components: {},
  props: {
    iconUrl: {
      type: String,
      required: true,
    },
    graphicUrl: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    descriptionHTML: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  methods: {},
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.InfoStrip-wrap
  display: flex
  flex-direction: column
  margin-bottom: 20px
  @media screen and (min-width: $tablet)
    flex-direction: row
    margin-bottom: 40px
  .text
    flex: 1 1 auto
    .icon
      width: 40px
      height: 40px
      background-repeat: no-repeat
      background-position: center
      background-size: contain
    p.title
      font-family: $font2
      font-size: 2.25rem
    .copy-container
      line-height: 1.4em
      color: $color3
      min-height: 4em
  .graphic
    flex: 1 0 350px
    max-height: 250px
    background-size: cover
    background-position: center
    @media screen and (min-width: $phone)
      max-height: 300px
    @media screen and (min-width: $tablet)
      max-height: 200px
      margin-left: 20px

</style>
