<template lang="pug">
  .ProfileSection-wrap
    Container1(halfPadding)
      .title-section
        p.title Profile of a Winner
        .copy-container(v-html="sectionCopyHTML")
    Container1(:hideOverflow="true")
      TextImageContentBlock(
        v-for="(item, index) in profileItems"
        :key="item.name"
        :numbering="index + 1"
        :title="item.name"
        :copyHTML="item.copyHTML"
        :imageUrl="getProfileImg(item.slug)"
        :imagePositionedLeft="!!(index % 2 !== 0)"
        :noMargin="(index + 1) === profileItems.length"
        :paddingBottom="(index + 1) === profileItems.length"
        textColor="white"
      )
</template>


<script>
import Container1 from '~/components/template/megapage/Container1.vue';
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';
import TextImageContentBlock from '~/components/template/megapage/TextImageContentBlock.vue';

export default {
  name: 'ProfileSection',
  components: {
    Container1,
    WaypointAnimation,
    TextImageContentBlock,
  },
  props: {
    profileItems: {
      type: Array,
      required: true,
    },
    sectionCopyHTML: {
      type: String,
      default: '<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere neque tempore dolore distinctio nobis officiis vel aperiam maxime nostrum assumenda provident, quos iusto laborum alias beatae. Animi quaerat deserunt facere.</p>',
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  methods: {
    getProfileImg(slug) {
      // let url;
      // try {
      //   url = require(`~/assets/img/profile-imgs/${slug}.jpg`);
      // } catch (err) {
      //   url = 'https://placehold.it/400x300';
      // }
      // return url;

      return 'https://placehold.it/800x500';
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.ProfileSection-wrap
  background: url(https://placehold.it/1500x1000/333/383838.png/) no-repeat top
  background-size: cover
  .title-section
    max-width: 40em
    margin: 0 auto
    .title
      margin: 20px 0
      font-size: 3rem
      font-family: $font2
      color: white
      @media screen and (min-width: $tablet)
        font-size: 5rem

</style>

<style lang="sass">
.ProfileSection-wrap
  .copy-container
    color: white
    line-height: 1.4em
    p
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
</style>
