<template lang="pug">
  .SplashSection-wrap
    SimpleContent1(fullHeight :backgroundImage="assets.bg1")
      template(slot="top-content")
        Container1(noMaxWidth)
          .splash-top-content-wrap
            a.logo-link(:href="clientLinkHref" target="_blank")
            .about-btn-wrap
              Btn1(
                :callback="clickHandleAboutBtn"
                text="About"
                backgroundColor="#be1622"
                activeBackgroundColor="#fff"
                textColor="#fff"
                activeTextColor="#be1622"
              )
      template(slot="main-content")
        WaypointAnimation(forceEnter)
          h1.main-title
            span.line-1 How To Become An
            span.line-2 Esports
            span.line-3 Champion
        WaypointAnimation(forceEnter :delay="500")
          .splash-copy-container(v-html="splashCopyHTML")
        WaypointAnimation(
          forceEnter
          :delay="900"
          animationName="scaleDownIn"
          :duration="300"
          :overflowPaddingY="200"
        )
          PageJumpBtn(
            target="[data-scrollanchor='mainContent']"
            :width="60"
            :height="60"
          )
</template>


<script>
import Container1 from '~/components/template/megapage/Container1.vue';
import PageJumpBtn from '~/components/template/megapage/PageJumpBtn.vue';
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';
import Btn1 from '~/components/template/megapage/Btn1.vue';
import SimpleContent1 from '~/components/template/megapage/SimpleContent1.vue';
import EventBus from '~/assets/js/EventBus';

export default {
  name: 'SplashSection',
  components: {
    SimpleContent1,
    Container1,
    Btn1,
    WaypointAnimation,
    PageJumpBtn,
  },
  props: {
    clientLinkHref: {
      type: String,
      required: true,
    },
    splashCopyHTML: {
      type: String,
      default: '<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum veniam voluptas labore nemo dicta deserunt esse alias fuga vero cum omnis necessitatibus officia optio, sequi unde perferendis eos, sint maxime.</p>',
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      assets: {
        bg1: 'https://placehold.it/1200x800/333/3a3a3a.png',
      },
    };
  },
  methods: {
    clickHandleAboutBtn() {
      EventBus.$emit('open-modal', 'about');
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.SplashSection-wrap
  .main-title
    font-family: $font3
    text-transform: uppercase
    margin: 0 0 40px
    .line-1
    .line-2,
    .line-3,
      display: block
      line-height: 1em
    .line-1
      font-family: $font3
      font-size: 2rem
      line-height: 1.5em
      color: $color1
      @media screen and (min-width: $tablet-small)
        font-size: 3rem
    .line-2
      font-family: $font2
      font-size: 6rem
      line-height: 0.9em
      color: white
      @media screen and (min-width: $tablet-small)
        font-size: 10rem

    .line-3
      font-family: $font2
      font-size: 4rem
      color: white
      @media screen and (min-width: $tablet-small)
        font-size: 7rem

  .splash-top-content-wrap
    display: flex
    justify-content: space-between
    align-items: center
    .logo-link
      max-width: 150px
      img
        width: 100%
    .about-btn-wrap

  .splash-copy-container
    max-width: 40em
    box-sizing: border-box
    margin: 0 auto
    padding: 10px
    line-height: 1.4em
    color: white
    margin-bottom: 40px
    @media screen and (min-width: $tablet)
      padding: 20px
      margin-bottom: 80px

</style>

<style lang="sass">
.splash-copy-container
  p
    margin-bottom: 20px
    &:last-pf-type
      margin-bottom: 0
</style>
