<template lang="pug">
  .Boilerplate-wrap

</template>


<script>

export default {
  name: 'Boilerplate',
  components: {},
  // props: {
  //   prop1: {
  //     type: Boolean,
  //     default: false,
  //   },
  // },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  computed: {},
  methods: {},
};
</script>


<style lang="sass" scoped>
.Boilerplate-wrap
</style>
