<template lang="pug">
.Modal-wrap(:class="[`${modalName}-modal`, {'height-overflow': heightOverflow}]")
  transition(
    name="modal"
    v-on:enter="emitEnter();"
    v-on:after-enter="emitAfterEnter(); updateHeightOverflow();"
    v-on:leave="emitLeave();"
    v-on:after-leave="emitAfterLeave(); updateHeightOverflow()"
  )
    .modal-mask(
      v-show="show"
      @click="closeModal"
    )
      .modal-wrapper
        .wrap
          FontAwesomeIcon.close-btn(
            :icon="faTimesCircle"
            @click="closeModal"
          )
        .modal-container(
          @click.stop=""
          :class="{'auto-width' : autoWidth}"
          ref="modalContainer"
        )
          .modal-content
            slot

</template>

<script>
import EventBus from '~/assets/js/EventBus.js';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import { faTimesCircle } from '@fortawesome/free-solid-svg-icons/faTimesCircle';

export default {
  name: 'Modal',
  components: {
    FontAwesomeIcon,
  },
  props: {
    modalName: {
      type: String,
      default: 'default',
    },
    autoWidth: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: false,
      heightOverflow: false,
    };
  },


  computed: {
    faTimesCircle() {
      return faTimesCircle;
    },
  },


  mounted() {
    EventBus.$on('open-modal', (e) => {
      if (e === this.modalName || e === 'all') this.openModal();
    });
    EventBus.$on('close-modal', (e) => {
      if (e === this.modalName || e === 'all') this.closeModal();
    });
    window.addEventListener('resize', this.handleResize);
    this.updateHeightOverflow();
  },


  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },


  methods: {
    emitEnter() {
      this.$emit('enter', this.modalName);
    },
    emitAfterEnter() {
      this.$emit('after-enter', this.modalName);
    },
    emitLeave() {
      this.$emit('leave', this.modalName);
    },
    emitAfterLeave() {
      this.$emit('after-leave', this.modalName);
    },
    openModal() {
      this.show = true;
    },
    closeModal() {
      this.show = false;
    },
    toggleModal() {
      this.show = !this.show;
    },
    handleResize() {
      this.updateHeightOverflow();
    },
    updateHeightOverflow() {
      if (typeof document === 'undefined') return false; // server rendering

      const windowHeight = document.documentElement.clientHeight;
      const elHeight = this.$refs.modalContainer.clientHeight;
      const offset = 50;
      this.heightOverflow = (elHeight + offset) > windowHeight; // bool
      return this;
    },
  },
};
</script>

<style scoped lang="sass">
  @import '~/assets/sass/mixins.sass'

  .height-overflow
    .modal-mask
      align-items: flex-start
      padding-top: 40px

    .modal-wrapper
      height: 100%

      .modal-container
        position: relative
        height: 100%
        top: 0
        box-sizing: border-box
        overflow-y: auto

  .modal-mask
    position: fixed
    display: flex
    align-items: center
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 15px
    box-sizing: border-box
    background-color: rgba(0, 0, 0, .5)
    transition: opacity .3s ease
    z-index: 9998
    @media screen and (min-width: $phone-wide)
      padding: 20px

  .modal-wrapper
    position: relative
    max-width: 100%
    margin: 0 auto
    text-align: center
    transition: transform .3s ease

  .modal-container
    position: relative
    width: 800px
    max-width: 100%
    margin: 0px auto
    padding: 10px 10px 20px
    background-color: #fff
    border-radius: 2px
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
    font-family: $font1, Arial, sans-serif
    box-sizing: border-box
    @media screen and (min-width: $phone-wide)
      padding: 20px 30px
    &.auto-width
      display: inline-block
      width: auto

  .modal-header h3
    margin-top: 0
    color: #42b983

  .modal-body
    margin: 20px 0

  .modal-default-button
    float: right


  .modal-enter
    opacity: 0
  .modal-leave-active
    opacity: 0
  .modal-enter .modal-wrapper,
  .modal-leave-active .modal-wrapper
    transform: scale(1.1)

  .wrap
    position: absolute
    top: -1.5rem
    right: -0.5em
    background-color: #423b3b
    border-radius: 100%
    padding: 3px
    z-index: 1

    .close-btn
      font-size: 2.5rem
      cursor: pointer

</style>
