<template lang="pug">
.NavComp-wrap
  ul
    nuxt-link(:exact='true' to='/' tag='li') Index
    //- nuxt-link(v-for='page in pageNames' :key='page' :to='`/${page}`' tag='li') {{ page }}
    nuxt-link(to="/page1" tag="li") Page 1
    nuxt-link(to="/inner/page2" tag="li") Page 2
</template>

<script>
/* eslint-disable import/extensions */
import * as pages from '../pages/';
/* eslint-enable */

export default {
  name: 'NavComp',
  data() {
    return {};
  },
  computed: {
    pageNames() {
      const all = Object.keys(pages);
      const noIndex = all.filter(page => page.toLowerCase() !== 'index');
      return noIndex.sort();
    },
  },
};
</script>

<style scoped lang="sass">
  .NavComp-wrap
    position: fixed
    bottom: 20px
    right: 20px
    text-align: right

  ul
    li
      display: inline-block
      cursor: pointer
      margin: 0 10px
      padding: 10px
      border-radius: 5px
      font-weight: bold
      transition: background-color 0.3s
      &:hover
        background-color: #fafafa
      &.active
        background-color: #eaeaea
        cursor: default

</style>
