<template lang="pug">
.about-btn-wrap
  button(@click="clickHandleBtn")
    FontAwesomeIcon(:icon="faInfo")

  Modal(
    modalName="about"
  )
    template(v-if="aboutCopy")
      p.title {{pieceTitle}}
      .copy-container(v-html="aboutCopy")
    template(v-else)
      p.title This is the title
      .copy-container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.

</template>


<script>
import { faInfo } from '@fortawesome/free-solid-svg-icons/faInfo';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

import EventBus from '~/assets/js/EventBus.js';
import Modal from '../Modal.vue';

export default {
  name: 'AboutBtn',
  components: {
    Modal,
    FontAwesomeIcon,
  },

  props: {
    aboutCopy: {
      type: [String, Boolean],
      default: false,
    },
    pieceTitle: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      faInfo,
    };
  },

  methods: {
    clickHandleBtn() {
      EventBus.$emit('open-modal', 'about');
    },
  },
};
</script>


<style scoped lang="sass">
.about-btn-wrap
  color: inherit
  button
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px
    cursor: pointer
    color: inherit
  p.title
    font-weight: bold
    font-size: 2rem
    margin-bottom: 20px
  .copy-container
    text-align: left
    p
      margin-bottom: 20px
</style>
