<template lang="pug">
.AboutModal-wrap
  Modal(
    modalName="about"
  )
    template(v-if="aboutCopy")
      p.title
        span.line-1 How To Become An
        span.line-2 Esports
        span.line-3 Champion
      .copy-container(v-html="aboutCopy")
    template(v-else)
      p.title This is the title
      .copy-container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde, sint, quaerat, nam neque dolor culpa atque eveniet autem commodi excepturi expedita repellat aliquam dolore? Possimus sequi sapiente dolor suscipit.

</template>


<script>
import Modal from '../Modal.vue';

export default {
  name: 'AboutModal',
  components: {
    Modal,
  },

  props: {
    aboutCopy: {
      type: [String, Boolean],
      default: false,
    },
    pieceTitle: {
      type: String,
      required: true,
    },
  },

  data() {
    return {};
  },
};
</script>


<style scoped lang="sass">
@import '~/assets/sass/mixins.sass'
.title
  font-family: $font3
  text-transform: uppercase
  margin: 0 0 40px
  .line-1
  .line-2,
  .line-3,
    display: block
    line-height: 1em
  .line-1
    font-family: $font3
    font-size: 2rem
    line-height: 1.5em
    color: $color1
    @media screen and (min-width: $tablet-small)
      font-size: 3rem
  .line-2
    font-family: $font2
    font-size: 6rem
    line-height: 0.9em
    color: black
    @media screen and (min-width: $tablet-small)
      font-size: 10rem

  .line-3
    font-family: $font2
    font-size: 4rem
    color: black
    @media screen and (min-width: $tablet-small)
      font-size: 7rem

</style>

<style lang="sass">
@import '~/assets/sass/mixins.sass'

.AboutModal-wrap
  .copy-container
    text-align: left
    a
      display: inline-block
      position: relative
      color: $color1
      font-family: $font2
      text-decoration: none
      &:after
        content: ''
        position: absolute
        bottom: -0.2em
        left: 0
        width: 100%
        height: 3px
        background-color: $color1
        transform: scaleX(0)
        transform-origin: left
        transition: transform 0.2s
      &:hover:after
        transform: scaleX(1)
</style>
