<template lang="pug">
.embed-btn-wrap
  button(@click="clickHandleBtn")
    FontAwesomeIcon(:icon="icons.faCode")

  Modal(
    modalName="embed"
    @enter="selectText(); refreshTextareaHeight();"
    @after-leave="removeConfirm()"
    :autoWidth="true"
  )
    p Embed link:
    .link-strip
      textarea-autosize#embed-link-text.link-text(
        ref="embedText"
        :value="linkText"
        cols="50"
        :min-height="100"
        :max-height="400"
        :autosize="true"
        readonly
      )
      span#copy-embed-link.copy-btn(
        v-clipboard:copy="linkText"
        v-clipboard:success="onCopy"
      ) copy
        span.confirmed(:class="{active: copyConfirmed}")

</template>


<script>
import { faCode } from '@fortawesome/free-solid-svg-icons/faCode';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

import appConfig from '@/appConfig';
import EventBus from '~/assets/js/EventBus.js';
import Modal from '../Modal.vue';

export default {
  name: 'EmbedBtn',
  components: {
    Modal,
    FontAwesomeIcon,
  },


  data() {
    return {
      appConfig,
      copyConfirmed: false, // should default to false
      icons: {
        faCode,
      },
    };
  },


  computed: {
    linkText() {
      return `<iframe src="${this.getWindowLocationOrigin()}" width="100%" height="800px" frameBorder="0"></iframe><p class="powered-by-link" style="color: #333; margin-bottom: 10px; text-align: right; font-size: 10px;">Powered by <a style="color: #333" target="_blank" href="${this.getPoweredByLink()}">${this.getPoweredByText()}</a></p>`;
    },
  },


  mounted() {
    window.addEventListener('resize', this.handleResize);
  },


  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },


  methods: {
    onCopy() {
      this.addConfirm();
    },
    selectText() {
      window.getSelection().selectAllChildren(this.$refs.embedText.$el);
    },
    addConfirm() {
      this.copyConfirmed = true;
    },
    removeConfirm() {
      this.copyConfirmed = false;
    },
    clickHandleBtn() {
      EventBus.$emit('open-modal', 'embed');
    },
    getPoweredByLink() {
      if (process.env.environment === 'local') return '_LOCAL_BUILD_';
      return (process.env.vanity) ? this.getWindowLocationOrigin() : appConfig.production.domain;
    },
    getPoweredByText() {
      if (process.env.environment === 'local') return '_LOCAL_BUILD_';
      return (process.env.vanity) ? appConfig.siteName : appConfig.clientName;
    },
    getWindowLocationOrigin() {
      if (typeof window === 'undefined') return 'SERVER';
      return window.location.href;
    },
    refreshTextareaHeight() {
      this.$refs.embedText.$vnode.componentInstance.resize();
      return false;
    },
    handleResize() {
      this.refreshTextareaHeight();
    },
  },
};
</script>


<style scoped lang="sass">
$c_grey1: grey

.embed-btn-wrap
  color: inherit
  button
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px
    cursor: pointer
    color: inherit

.embed-modal
  p
    font-weight: bold
    margin: 0 0 0.5em
    color: #333

  .link-strip
    position: relative
    display: flex
    justify-content: center
    align-items: stretch
    margin: 0
    word-break: break-word
    font-size: 1.5rem

    .link-text,
    .copy-btn
      padding: 7px
      display: flex
      align-items: center
      justify-content: center

    .link-text
      max-width: 40em
      font-size: 1.2rem
      line-height: 1.2em
      background-color: #333
      border: none
      color: #fff
      text-align: center
      cursor: text
      padding-left: 20px
      padding-right: 20px
      font-family: courier, monospace
      resize: none

    .copy-btn
      position: relative
      cursor: pointer
      background-color: #fff
      color: #333
      font-size: 1.2rem
      box-sizing: border-box
      border-radius: 0 10px 10px 0
      border: solid 2px #333
      transition: background-color 0.2s
      word-break: normal

      &:hover
        background-color: #333
        color: #fff

    .confirmed
      position: absolute
      width: 15px
      height: 15px
      top: -15px
      right: 0px
      padding: 0
      margin: 0
      border-radius: 5px
      opacity: 0
      transition: opacity 0.3s

      &:after
        font-family: FontAwesome
        content: '\f00c'
        color: green
        font-size: 2.5rem

      &.active
        opacity: 0.7

</style>
