<template lang="pug">
.embed-btn-wrap
  button(@click="clickHandleBtn")
    FontAwesomeIcon(:icon="icons.faCode")

</template>


<script>
import { faCode } from '@fortawesome/free-solid-svg-icons/faCode';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

import EventBus from '~/assets/js/EventBus.js';

export default {
  name: 'EmbedBtn',
  components: {
    FontAwesomeIcon,
  },


  data() {
    return {
      icons: {
        faCode,
      },
    };
  },

  methods: {
    clickHandleBtn() {
      EventBus.$emit('open-modal', 'embed');
    },
  },
};
</script>


<style scoped lang="sass">

.embed-btn-wrap
  color: inherit
  button
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px
    cursor: pointer
    color: inherit

</style>
