<template lang="pug">
.facebook-btn-wrap
  button(@click="clickHandleBtn")
    FontAwesomeIcon(:icon="icons.faFacebookF")
</template>

<script>
import appConfig from '@/appConfig';

import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';


export default {
  name: 'FacebookShareBtn',
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      icons: {
        faFacebookF,
      },
    };
  },
  methods: {
    clickHandleBtn() {
      const tWidth = 560;
      const tHeight = 700;
      const wWidth = window.innerWidth;
      const wHeight = window.innerHeight;
      const top = (wHeight / 2) - (tHeight / 2);
      const left = (wWidth / 2) - (tWidth / 2);
      const domain = (appConfig[process.env.environment]) ? appConfig[process.env.environment].url : appConfig.production.domain;
      window.open(
        `https://www.facebook.com/sharer.php?u=${domain}`,
        'facebook-share-dialog',
        `width=${tWidth}, height=${tHeight} top=${top}, left=${left}`,
      );
    },
  },
};
</script>

<style scoped lang="sass">
.facebook-btn-wrap
  color: inherit
  button
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px
    cursor: pointer
    color: inherit

</style>
