<template lang="pug">
  footer
    nav
      EmbedBtn
      AboutBtn(:aboutCopy="aboutCopy" :pieceTitle="pieceTitle")
      FacebookShareBtn
      TwitterShareBtn

</template>

<script>
import { faInfo } from '@fortawesome/fontawesome-free-solid/faInfoCircle';
import FacebookShareBtn from './FacebookShareBtn.vue';
import TwitterShareBtn from './TwitterShareBtn.vue';
import EmbedBtn from './EmbedBtn.vue';
import AboutBtn from './AboutBtn.vue';

export default {
  name: 'Footer',
  components: {
    FacebookShareBtn,
    TwitterShareBtn,
    EmbedBtn,
    AboutBtn,
  },
  props: {
    aboutCopy: {
      type: [String, Boolean],
      default: false,
    },
    pieceTitle: {
      type: String,
      required: true,
    },
  },
  data() {
    return {};
  },
  computed: {
    faInfo() {
      return faInfo;
    },
  },
  methods: {},
};
</script>

<style lang="sass">
  footer
    position: fixed
    bottom: 20px
    left: 20px

    nav > div
      display: inline-block

    button
      cursor: pointer
      color: #ccc
      font-size: 2.2rem
      transition: transform 0.2s
      &:hover
        transform: scale(1.15)

</style>
