<template lang="pug">
.twitter-btn-wrap
  button(@click="clickHandleBtn")
    FontAwesomeIcon(:icon="faTwitter")
</template>

<script>
import appConfig from '~/appConfig';

import { faTwitter } from '@fortawesome/free-brands-svg-icons/faTwitter';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
  name: 'TwitterShareBtn',
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      faTwitter,
    };
  },
  methods: {
    clickHandleBtn() {
      const domain = (appConfig[process.env.environment]) ? appConfig[process.env.environment].url : appConfig.production.domain;
      const tweetTxt = encodeURIComponent(appConfig.twitter.text);
      const width = 575;
      const height = 400;
      const left = (window.innerWidth - width) / 2;
      const top = (window.innerHeight - height) / 2;
      const opts = `status=1,width=${width},height=${height},top=${top},left=${left}`;
      const url = `https://twitter.com/intent/tweet/?text=${tweetTxt}&url=${domain}`;
      window.open(url, 'twitter-share', opts);
    },
  },
};
</script>

<style scoped lang="sass">
.twitter-btn-wrap
  color: inherit
  button
    display: block
    width: 100%
    box-sizing: border-box
    padding: 10px
    cursor: pointer
    color: inherit

</style>
