<template lang="pug">
  .index-wrap
    .indexWrapMain#1
    Desktop.desktop
    Tablet.tablet
    Mobile.mobile

    .linkSection

      .textBottom
        .linkCopy
          | A Day at the Races is brought to you by Mark Jarvis, your&nbsp;
          a(href='https://www.mjsports.bet/sportsbook/HORSES/' title='local horse race betting') local horse race betting
          | &nbsp;expert. Mark Jarvis is one of the largest independent high street bookmakers in the UK.
        a.two(href='#1') Back to the top

      Footer(
        pieceTitle="A day at the races"
        backgroundColor="#58c278"
        textColor="white"
        disableAbout
      )

      EmbedModal
</template>
<script>

import appConfig from '~/appConfig.js';
import EmbedModal from '~/components/social/EmbedModal.vue';
import Footer from '~/components/template/megapage/Footer.vue';
import Desktop from '~/components/template/devicesize/desktop.vue';
import Tablet from '~/components/template/devicesize/tablet.vue';
import Mobile from '~/components/template/devicesize/mobile.vue';

export default {
  components: {
    Footer,
    EmbedModal,
    Desktop,
    Tablet,
    Mobile
  },

  data() {
    return {
      toggle: false,
      baseUrl: process.env.baseUrl,
      appConfig,
    };
  },


  mounted() {
    // this.lockScrolling();
  },


  methods: {
    clickHandleModal1() {
      this.$modal.show('modal1');
    },


    clickHandleToggleTest() {
      this.toggle = !this.toggle;
    },


    lockScrolling() {
      if (typeof document === 'undefined') return null;
      const htmlEl = document.documentElement;
      htmlEl.classList.add('lock-scrolling');
      return null;
    },

    unlockScrolling() {
      if (typeof document === 'undefined') return null;
      const htmlEl = document.documentElement;
      htmlEl.classList.remove('lock-scrolling');
      return null;
    },
  },


  // transition: 'scale',
  // head() {
  //   return {
  //     title: 'Index',
  //   };
  // },
};
</script>



<style lang="css" scoped>

html {
  scroll-behavior: smooth;
}
.index-wrap {
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: auto;
  line-height: auto;
}
.indexWrapMain {

}

* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.fadeIn {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.linkSection {
  /* position: absolute;
  bottom: -150px;
  left: 0;
  right: 0; */
  margin: 5px auto;
  text-align: center;
  background: #00BBFF;
  padding: 20px 0;
  color: white;
  width: 100%;
  max-width: 1200px;
  scroll-behavior: smooth;

}
.textBottom {
  position: relative;
}

.linkCopy {
  max-width: 760px;
  margin: 0 auto;
  font-size: 14px;
}
.linkSection a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.two {
  font-weight: 300!important;
  position: absolute;
  right: 20px;
  bottom: 0px;

}
* {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
.gameFont {
  font-family: 'Press Start 2P', cursive!important;
}


.desktop {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.tablet, .mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1248px) {
  .tablet {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .desktop, .mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .linkCopy {
    display: block;
    margin-bottom: 30px;
  }

  .two {
    font-weight: 300!important;
    position: relative;
    background: #0c89b7;
    padding: 15px 20px;
    border-radius: 25px;
    display: block;
    max-width: 200px;
    right: 0;
    /* margin-top: 30px; */

  }

  .linkSection {
    width: 760px;
  }

}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .desktop, .tablet {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .linkCopy {
    display: block;
    margin-bottom: 30px;
  }
  .two {
    font-weight: 300!important;
    position: relative;
    background: #0c89b7;
    padding: 15px 20px;
    border-radius: 25px;
    display: block;
    max-width: 200px;
    right: 0;
    /* margin-top: 30px; */

  }
  .linkSection {
    width: 480px;
    padding: 40px;
    box-sizing: border-box;
  }
  .linkSection a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 auto;
    margin: 20px auto 0

  }

  .textBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .two {
  font-weight: 300!important;
  position: relative;
  right: 0

}

}
</style>

