<template lang="pug">
  .Btn1-wrap
    button(
      type="button"
      @click="clickHandle"
      :class="btnClasses"
      :style="btnStyle"
    ) {{text}}
</template>


<script>

export default {
  name: 'Btn1',
  components: {},
  props: {
    id: {
      type: String,
      default: 'defaultBtnId',
    },
    text: {
      type: String,
      default: 'click',
    },
    callback: {
      type: Function,
      default() {},
    },
    backgroundColor: {
      type: String,
      default: 'lightgrey',
    },
    activeBackgroundColor: {
      type: String,
      default: 'lightblue',
    },
    textColor: {
      type: String,
      default: 'black',
    },
    activeTextColor: {
      type: String,
      default: 'white',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
    },
    dimWhenDisabled: {
      type: Boolean,
      default: true,
    },
    block: {
      type: Boolean,
      default: false,
    },
    scaleHover: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  computed: {
    btnStyle() {
      return {
        backgroundColor: this.isActive ? this.activeBackgroundColor : this.backgroundColor,
        color: this.isActive ? this.activeTextColor : this.textColor,
      };
    },
    btnClasses() {
      return [
        this.isActive ? 'active' : '', this.isDisabled ? 'disabled' : '',
        this.dimWhenDisabled && 'dim-when-disabled',
        this.scaleHover && 'scale-hover',
        this.block && 'block',
      ];
    },
  },
  methods: {
    clickHandle() {
      this.$emit(`${this.id}-clicked`);
      if (this.isDisabled) return;
      if (typeof this.callback === 'function') this.callback();
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.Btn1-wrap
  button
    font-family: $font2
    cursor: pointer
    padding: 10px 20px
    border-radius: 10px
    transition: background-color 0.3s, color 0.3s, transform 0.2s
    &.scale-hover
      &:hover
        transform: scale(1.08)
    &.block
      display: block
      width: 100%
    &.active
      cursor: default
      &:hover
        transform: scale(1)
    &.disabled
      cursor: default
      &.dim-when-disabled
        opacity: 0.5
      &:hover
        transform: scale(1)

</style>
