<template lang="pug">
  .Container1-wrap(:style="outerElementStyle" :class="outerElementClasses")
    slot
</template>


<script>

export default {
  name: 'Container1',
  components: {},
  props: {
    maxWidth: {
      type: Number,
      default: 1000,
    },
    noMaxWidth: {
      type: Boolean,
      default: false,
    },
    noPadding: {
      type: Boolean,
      default: false,
    },
    halfPadding: {
      type: Boolean,
      default: false,
    },
    quarterPadding: {
      type: Boolean,
      default: false,
    },
    hideOverflow: {
      type: Boolean,
      default: false,
    },
    vCenter: {
      type: Boolean,
      default: false,
    }, // requires flex parent
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  computed: {
    outerElementStyle() {
      return ({
        maxWidth: this.noMaxWidth ? 'auto' : `${this.maxWidth}px`,
        overflow: this.hideOverflow ? 'hidden' : 'initial',
      });
    },

    outerElementClasses() {
      return [
        this.noPadding && 'no-padding',
        this.halfPadding && 'half-padding',
        this.quarterPadding && 'quarter-padding',
        this.vCenter && 'v-center',
      ];
    },
  },
  methods: {},
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
$base-padding: 10px

.Container1-wrap
  position: relative
  box-sizing: border-box
  width: 100%
  margin: 0 auto
  padding: $base-padding
  @media screen and (min-width: $phone)
    padding: $base-padding * 2
  @media screen and (min-width: $tablet)
    padding: $base-padding * 4
  &.no-padding
    padding: 0 !important
  &.half-padding
    padding: $base-padding / 2
    @media screen and (min-width: $phone)
      padding: $base-padding
    @media screen and (min-width: $tablet)
      padding: $base-padding * 2
  &.quarter-padding
    padding: $base-padding / 4
    @media screen and (min-width: $phone)
      padding: $base-padding
    @media screen and (min-width: $tablet)
      padding: $base-padding * 4

  &.v-center
    display: flex
    flex: 1 0 auto
    flex-direction: column
    justify-content: center

</style>
