<template lang="pug">
  .FakeSlider-wrap
    .arrow-wrap(v-if="showArrows" @click="prevArrowCallback")
      .arrow.prev.custom(v-if="prevArrowGraphicUrl" :style="prevArrowCustomStyle")
      .arrow.prev.default(v-else :style="arrowDefaultStyle")
        FontAwesomeIcon(size="2x" :icon="assets.faChevronCircleLeft")

    .content(
      :class="contentClasses"
      :style="contentElementStyle"
    )
      slot


    .arrow-wrap(v-if="showArrows" @click="nextArrowCallback")
      .arrow.next.custom(v-if="nextArrowGraphicUrl" :style="nextArrowCustomStyle")
      .arrow.next.default(v-else :style="arrowDefaultStyle")
        FontAwesomeIcon(size="2x" :icon="assets.faChevronCircleRight")

</template>


<script>
import { faChevronCircleLeft } from '@fortawesome/free-solid-svg-icons/faChevronCircleLeft';
import { faChevronCircleRight } from '@fortawesome/free-solid-svg-icons/faChevronCircleRight';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
  name: 'FakeSlider',
  components: {
    FontAwesomeIcon,
  },
  props: {
    duration: {
      type: Number,
      default: 300,
    },
    showArrows: {
      type: Boolean,
      default: false,
    },
    prevArrowGraphicUrl: {
      type: [String, Boolean],
      default: false,
    },
    nextArrowGraphicUrl: {
      type: [String, Boolean],
      default: false,
    },
    arrowColor: {
      type: String,
      default: 'black',
    },
    callback: {
      type: Function,
      default: () => { console.log('transition callback: default'); },
    },
    fadeTransition: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      transitioning: false,
      phase: 'idle',
      reverseTransition: false,
      assets: {
        faChevronCircleLeft,
        faChevronCircleRight,
      },
    };
  },

  computed: {
    contentClasses() {
      return [
        this.fadeTransition ? 'fade' : 'slide',
        this.transitioning && 'transitioning',
        this.reverseTransition && 'reverse',
        this.showArrows && 'show-arrows',
        `transitioning-${this.phase}`,
      ];
    },

    arrowDefaultStyle() {
      return {
        color: this.arrowColor,
      };
    },


    prevArrowCustomStyle() {
      return {
        backgroundImage: `url(${this.prevArrowGraphicUrl})`,
      };
    },


    nextArrowCustomStyle() {
      return {
        backgroundImage: `url(${this.nextArrowGraphicUrl})`,
      };
    },


    contentElementStyle() {
      return ({
        transitionDuration: `${this.duration}ms`,
      });
    },
  },

  methods: {
    afterEnter() {
      this.transitioning = false;
    },


    triggerTransition(cb, reverse = false) {
      if (reverse) this.reverseTransition = true;
      this.transitioning = true;
      this.phase = 'out';
      this.$emit('transition-cycle-starting');

      setTimeout(() => {
        if (typeof cb !== 'undefined') cb();
        this.$emit('transition-midpoint-reached');
        this.phase = 'in';
        this.transitioning = false;
      }, this.duration);

      setTimeout(() => {
        this.phase = 'idle';
        this.$emit('transition-cycle-complete');
        this.reverseTransition = false;
      }, this.duration * 2);
    },


    transitionForward(cb) {
      this.triggerTransition(cb, true);
    },


    transitionBackward(cb) {
      this.triggerTransition(cb, false);
    },


    prevArrowCallback() {
      this.$emit('prev-btn-clicked');
    },


    nextArrowCallback() {
      this.$emit('next-btn-clicked');
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.FakeSlider-wrap
  overflow: hidden
  display: flex
  flex-wrap: wrap
  @media screen and (min-width: $tablet-small)
    flex-wrap: nowrap
  .content
    max-width: 100%
    flex: 1 1 auto
    transition-property: opacity, transform
    &.show-arrows
      @media screen and (min-width: $tablet-small)
        max-width: 100%
        max-width: calc(100% - (60px * 2))
    &.slide
      &.transitioning-out
        transform: translateX(100%)
        opacity: 0
      &.transitioning-in
        transform: translateX(-100%)
        opacity: 0
      &.reverse
        &.transitioning-out
          transform: translateX(-100%)
        &.transitioning-in
          transform: translateX(100%)
    &.fade
      &.transitioning-out,
      &.transitioning-in
        opacity: 0

  .arrow-wrap
    display: flex
    align-items: center
    justify-content: center
    flex: 1 0 50%
    order: 2
    box-sizing: border-box
    padding: 10px
    @media screen and (min-width: $tablet-small)
      width: 60px
      order: 0
      flex: 0 0 auto

    .arrow
      position: relative
      box-sizing: border-box
      cursor: pointer
      z-index: 2
      &.prev.custom,
      &.next.custom
        width: 50px
        height: 50px
        background-repeat: no-repeat
        background-position: center
        background-size: contain
      &.prev.custom
      &.next.custom
</style>
