<template lang="pug">
  .Footer-wrap(:style="outerElementStyle")
    .inner
      a.client-link.text-link(v-if="clientLinkText && clientLinkHref" :href="clientLinkHref" target="_blank" :style="clientLinkWithTextStyle") {{clientLinkText}}
      a.client-link.img-link(v-else-if="clientLogoUrl && clientLinkHref" :href="clientLinkHref" target="_blank" :style="clientLinkWithLogoStyle")

      .social-btns
        .btn-wrap(v-if="!disableFacebook" :style="btnWrapStyle")
          FacebookShareBtn
        .btn-wrap(v-if="!disableTwitter" :style="btnWrapStyle")
          TwitterShareBtn
        .btn-wrap(v-if="!disableEmbed" :style="btnWrapStyle")
          EmbedBtn
        .btn-wrap(v-if="!disableAbout" :style="btnWrapStyle")
          AboutBtn(:aboutCopy="aboutCopyHTML" :pieceTitle="pieceTitle")

</template>


<script>
import FacebookShareBtn from '~/components/social/FacebookShareBtn.vue';
import TwitterShareBtn from '~/components/social/TwitterShareBtn.vue';
import EmbedBtn from '~/components/social/EmbedBtn.vue';
import AboutBtn from '~/components/social/AboutBtn.vue';

export default {
  name: 'Footer',
  components: {
    FacebookShareBtn,
    TwitterShareBtn,
    EmbedBtn,
    AboutBtn,
  },
  props: {
    pieceTitle: {
      type: String,
      required: true,
    },
    // aboutCopyHTML: {
    //   type: String,
    //   required: true,
    // },
    backgroundColor: {
      type: String,
      default: 'white',
    },
    textColor: {
      type: String,
      default: 'black',
    },
    disableClientLink: {
      type: Boolean,
      default: false,
    },
    clientLinkText: {
      type: [Boolean, String],
      default: false,
    },
    clientLinkHref: {
      type: [Boolean, String],
      default: false,
    },
    clientLogoUrl: {
      type: [Boolean, String],
      default: false,
    },
    clientLogoWidth: {
      type: Number,
      default: 150,
    },
    clientLogoHeight: {
      type: Number,
      default: 50,
    },
    disableFacebook: {
      type: Boolean,
      default: false,
    },
    disableTwitter: {
      type: Boolean,
      default: false,
    },
    disableEmbed: {
      type: Boolean,
      default: false,
    },
    disableAbout: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },

  computed: {
    outerElementStyle() {
      return ({
        backgroundColor: this.backgroundColor,
      });
    },

    clientLinkWithTextStyle() {
      return ({
        color: this.textColor,
      });
    },

    btnWrapStyle() {
      return ({
        color: this.textColor,
      });
    },

    clientLinkWithLogoStyle() {
      return ({
        width: `${this.clientLogoWidth}px`,
        height: `${this.clientLogoHeight}px`,
        backgroundImage: `url(${this.clientLogoUrl})`,
      });
    },
  },

  mounted() {
    // if (!this.clientLinkHref) console.warn('Warning: No client link supplied to Footer component');
  },

  methods: {},
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.Footer-wrap
  box-sizing: border-box
  padding: 10px 5px 0px
  display: flex
  justify-content: center
  align-items: center
  color: white
  max-width: 1200px
  width: 100%
  margin: 0 auto
  background: #00BBFF!important;
  // @media screen and (min-width: $tablet)
  //   padding: 10px

  .inner
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin: 0 auto
    text-align: center
    @media screen and (min-width: $phone)
      flex-direction: row
      justify-content: space-between

    a.client-link
      &.text-link
        display: inline-block
        box-sizing: border-box
        padding: 5px
        font-family: $font2
        text-decoration: none
        @media screen and (min-width: $tablet)
          padding: 10px
      &.img-link
        display: block
        background-size: contain
        background-position: center

    .social-btns
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      .btn-wrap
        margin: 5px
        width: 40px
</style>
