<template lang="pug">
  .Navbar1-wrap(:style="outerElStyle" ref="outerElement")
    nav(
      ref="wrapperEl"
      :style="navElStyle"
    )
      .spacer(v-if="spacer" :style="{backgroundColor: spacerColor}")
      button.nav-btn(
        v-for="item in items"
        @click="item.callback"
        :class="[isActiveItem(item.id) ? 'active' : '']"
        :style="{color: textColor}"
      ) {{item.name}}
        span.decoration(:style="{backgroundColor: textColor}")
</template>


<script>

export default {
  name: 'Navbar1',
  components: {},
  props: {
    isSticky: {
      type: Boolean,
      default: false,
    },
    backgroundColor: {
      type: String,
      default: 'lightblue',
    },
    textColor: {
      type: String,
      default: 'white',
    },
    activeItemSlug: {
      type: [Boolean, String, Number],
      default: false,
    },
    initDelay: {
      type: Number,
      default: 0,
    },
    borderBottomWidth: {
      type: Number,
      default: 0,
    },
    borderBottomColor: {
      type: String,
      default: '',
    },
    spacer: {
      type: Boolean,
      default: false,
    },
    spacerColor: {
      type: String,
      default: '',
    },
    items: {
      type: Array,
      default: () => [
        {
          name: 'Item 1',
          id: 'item1',
          callback: () => console.log('item one clicked'),
        },
        {
          name: 'Item 2',
          id: 'item2',
          callback: () => console.log('item two clicked'),
        },
      ],
    },
    topPositionShift: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      isStuck: false,
      scrollPos: 0,
      offsetTop: 0,
      navHeight: 0,
    };
  },

  computed: {
    navElStyle() {
      return {
        position: (this.isStuck ? 'fixed' : 'static'),
        backgroundColor: this.backgroundColor,
        top: `${this.topPositionShift}px`,
        borderBottom: `${this.borderBottomWidth}px solid ${this.borderBottomColor}`,
      };
    },
    outerElStyle() {
      return {
        height: this.isStuck ? `${this.navHeight}px` : 'auto',
      };
    },
  },

  mounted() {
    if (this.isSticky) {
      setTimeout(() => {
        let windowWidth = window.innerWidth;

        window.addEventListener('scroll', this.scrollHandler);
        window.addEventListener('resize', () => {
          // Check window width has actually changed and it's not just iOS triggering a resize event on scroll
          if (window.innerWidth !== windowWidth) {
            windowWidth = window.innerWidth;
            this.resizeHandler();
          }
        });
        this.navHeight = this.$refs.wrapperEl.clientHeight;
        this.offsetTop = this.getOffsetTop();
        this.emitHeight();
      }, this.initDelay);
    } else {
      this.getOffsetTop();
    }
  },

  beforeDestroy() {
    if (this.isSticky) {
      window.removeEventListener('scroll', this.scrollHandler);
      window.removeEventListener('resize', this.resizeHandler);
    }
  },

  methods: {
    getOffsetTop() {
      const elem = this.$refs.wrapperEl;
      const box = elem.getBoundingClientRect();

      const {
        body,
        documentElement: docEl,
      } = document;

      const scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
      const clientTop = docEl.clientTop || body.clientTop || 0;
      const top = (box.top + scrollTop) - clientTop;

      return Math.round(top);
    },

    isActiveItem(slug) {
      return slug === this.activeItemSlug;
    },


    scrollHandler() {
      if (typeof document === 'undefined' || typeof window === 'undefined') return;

      const doc = document.documentElement;
      const top = (window.pageYOffset || doc.scrollTop) - (doc.clientTop || 0);
      this.scrollPos = top;
      this.isStuck = top > (this.offsetTop - this.topPositionShift);
    },


    resizeHandler() {
      if (typeof document === 'undefined' || typeof window === 'undefined') return;
      this.offsetTop = this.getOffsetTop();
      this.isStuck = false;
      this.navHeight = this.$refs.wrapperEl.clientHeight;
      this.emitHeight();
    },


    emitHeight() {
      this.$emit('report-height', this.$refs.outerElement.clientHeight);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.Navbar1-wrap
  nav
    position: relative
    text-align: center
    width: 100%
    z-index: 9999
  .spacer
    width: 80%
    margin: 0 auto
    height: 1px
    opacity: 0.2
    transition: opacity 0.2s
    @media screen and (min-width: $tablet-small)
      opacity: 0

  .nav-btn
    position: relative
    padding: 10px
    font-family: $font1
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    &.active
      cursor: default
      .decoration
        transform: scale(1)
    @media screen and (min-width: $tablet)
      padding: 20px

    .decoration
      content: ''
      position: absolute
      bottom: 7px
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      width: 100%
      width: calc(100% - 20px)
      height: 2px
      transform: scale(0)
      transition: transform 0.3s
      @media screen and (min-width: $tablet)
        width: calc(100% - 40px)
        bottom: 14px

</style>
