<template lang="pug">
  .PageJumpBtn-wrap
    button(@click="clickHandle" :style="btnStyle")
</template>


<script>
import { scrollTo } from 'vue-scrollto';

export default {
  name: 'PageJumpBtn',
  components: {},
  props: {
    target: {
      type: String,
      default: '',
    },
    scrollOffset: {
      type: Number,
      default: 0,
    },
    imgPath: {
      type: String,
      default: 'https://placehold.it/60x60',
    },
    width: {
      type: Number,
      default: 30,
    },
    height: {
      type: Number,
      default: 30,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      scrollToOptions: {
        easing: 'ease-in',
        offset: this.scrollOffset,
        force: true,
        cancelable: true,
        x: false,
        y: true,
      },
      scrollHandle: false,
    };
  },
  computed: {
    btnStyle() {
      return {
        backgroundImage: `url(${this.imgPath})`,
        width: `${this.width}px`,
        height: `${this.height}px`,
      };
    },
  },
  methods: {
    clickHandle() {
      this.scrollHandle = scrollTo(this.target, this.options);
    },
  },
};
</script>


<style lang="sass" scoped>
.PageJumpBtn-wrap
  button
    display: block
    background-position: center
    background-size: contain
    cursor: pointer
    margin: 0 auto
    transition: transform 0.3s
    &:hover
      transform: scale(1.1)
</style>
