<template lang="pug">
  .Parallax-wrap
    .jarallax(ref="jarallaxEl" :style="{backgroundImage: `url(${imgUrl})`}")

</template>


<script>

export default {
  name: 'Parallax',
  components: {},

  props: {
    imgUrl: {
      type: String,
      required: true,
    },
    speed: {
      type: Number,
      default: 0.5, // between -1.0 - 2.0
      validator(val) {
        const condition = val >= -1 && val <= 2;
        if (!condition) console.warn('WARNING: "speed" prop requires a value between -1.0 and 2.0');
        return condition;
      },
    },
    type: {
      type: String,
      default: 'scroll', // scroll, scale, opacity, scroll-opacity, scale-opacity
      validator(val) {
        const vals = ['scroll', 'scale', 'opacity', 'scroll-opacity', 'scale-opacity'];
        const condition = vals.indexOf(val) > -1;
        if (!condition) console.warn(`WARNING: type prop must be one of the following strings: (${vals.join(', ')})`);
        return condition;
      },
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },

  computed: {},

  mounted() {
    const jarallax = require('jarallax'); // SSR
    this.jarallax = jarallax.jarallax;
    this.init();
  },

  beforeDestroy() {
    this.jarallax(this.$refs.jarallaxEl, 'destroy');
  },

  methods: {
    init() {
      this.jarallax(this.$refs.jarallaxEl, {
        type: this.type,
        speed: this.speed,
        // imgElement: this.$refs.imgEl,
      });
    },
  },
};
</script>


<style lang="sass" scoped>
.Parallax-wrap
  position: absolute
  display: flex
  width: 100%
  height: 100%
  z-index: 0
  .jarallax
    position: absolute !important
    width: 100%
    height: 100%
    flex: 1
  .jarallax > .jarallax-img
      position: absolute
      object-fit: cover
      /* support for plugin https://github.com/bfred-it/object-fit-images */
      font-family: 'object-fit: cover'
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1

</style>
