<template lang="pug">
  .ScrollTrackerChild-wrap
    slot
</template>


<script>

export default {
  name: 'ScrollTrackerChild',
  components: {},

  props: {
    id: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },

  mounted() {
    this.$el.dataset.scrollanchor = this.id;
  },

  methods: {},
};
</script>


<style lang="sass" scoped>
.ScrollTrackerChild-wrap
</style>
