<template lang="pug">
  .ScrollTrackerParent-wrap
    slot
</template>


<script>

export default {
  name: 'ScrollTrackerParent',
  components: {},

  props: {
    offset: {
      type: Number,
      default: 0,
    },
  },


  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      activeElement: false,
      clientScroll: 0,
      scrollChildren: [],
    };
  },

  computed: {
    scrollItems() {
      return this.scrollChildren.map((item) => {
        const height = item.$el.clientHeight;
        return {
          id: item.id,
          height,
          topEdge: this.getOffsetTop(item.$el),
          get bottomEdge() {
            return this.topEdge + height;
          },
        };
      });
    },
  },

  watch: {
    activeElement() {
      this.$emit('active-page-element-changed', this.activeElement);
    },
  },

  mounted() {
    /* eslint-disable-next-line no-underscore-dangle */
    this.scrollChildren = this.$children.filter(child => child.$options._componentTag === 'ScrollTrackerChild');
    document.addEventListener('scroll', this.scrollHandler);
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.scrollHandler);
  },

  methods: {
    getOffsetTop(elem) {
      let offsetTop = 0;
      /* eslint-disable no-cond-assign */
      do {
        if (!Number.isNaN(elem.offsetTop)) offsetTop += elem.offsetTop;
      } while (elem = elem.offsetParent);
      /* eslint-enable */

      return offsetTop;
    },

    scrollHandler() {
      const doc = document.documentElement;
      const top = (window.pageYOffset || doc.scrollTop) - (doc.clientTop || 0);
      this.clientScroll = top;


      for (let i = this.scrollItems.length - 1; i >= 0; i -= 1) {
        const item = this.scrollItems[i];
        this.activeElement = false;

        if ((this.clientScroll + this.offset) >= item.topEdge) {
          this.activeElement = item.id;
          break;
        }
      }
    },
  },


};
</script>


<style lang="sass" scoped>
.ScrollTrackerParent-wrap
</style>
