<template lang="pug">
  .SimpleContent2-wrap(:id="id" :style="outerStyle")
    .text-content(:style="textContentSectionStyle")
      Container1(noMaxWidth vCenter)
        .wrap(:is="animating ? WaypointAnimation : 'span'" :overflowPaddingY="50")
          component(:is="titleEl").title {{title}}
        .wrap(:is="animating ? WaypointAnimation : 'span'" :overflowPaddingY="50" :delay="100")
          .copy-container-html(v-if="copyHtml" v-html="sanitizeTheHtml(copyHtml)")
          .copy-container(v-else-if="copy") {{copy}}
    .img-content(:style="imgContentSectionStyle")
      Container1(vCenter flex)
        .wrap(:is="animating ? WaypointAnimation : 'span'" :delay="200" flex :maxHeight="400")
          .img(v-if="mainImg" :is="mainImgParallax ? Parallax : 'div'" :style="imgStyle" :imgUrl="mainImg" :speed="0.8")

</template>


<script>
import sanitizeHtml from 'sanitize-html';
import Container1 from '~/components/template/megapage/Container1.vue';
import Parallax from '~/components/template/megapage/Parallax.vue';
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';

export default {
  name: 'SimpleContent2',
  components: {
    Container1,
    WaypointAnimation,
    Parallax,
  },
  props: {
    id: {
      type: [String, Boolean],
      default: false,
    },
    backgroundImage: {
      type: [String, Boolean],
      default: false,
    },
    fullHeight: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: 'title',
    },
    titleEl: {
      type: String,
      default: 'p',
      validator(string) {
        const allowedTypes = ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'span', 'div'];
        const condition = allowedTypes.indexOf(string) > -1;
        if (!condition) console.warn('WARNING: invalid title element supplied to SimpleContent2 component. Allowed types are: p, h1, h2, h3, h4, h5, h6, span, div');
        return condition;
      },
    },
    copy: {
      type: [String, Boolean],
      default: false,
    },
    copyHtml: {
      type: [String, Boolean],
      default: false,
    },
    mainImg: {
      type: [String, Boolean],
      default: false,
    },
    mainImgOnLeft: {
      type: Boolean,
      default: false,
    },
    mainImgSizeCover: {
      type: Boolean,
      default: false,
    },
    mainImgParallax: {
      type: Boolean,
      default: false,
    },
    textColor: {
      type: String,
      default: '#000',
    },
    animating: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      outerStyle: {
        minHeight: this.fullHeight ? '100vh' : 'initial',
        backgroundImage: this.backgroundImage ? `url(${this.backgroundImage})` : 'initial',
      },
      WaypointAnimation,
      Parallax,
    };
  },


  computed: {
    imgStyle() {
      return {
        backgroundImage: this.mainImgParallax ? 'initial' : `url(${this.mainImg})`,
        backgroundSize: this.mainImgSizeCover ? 'cover' : 'contain',
      };
    },

    imgContentSectionStyle() {
      return {
        order: this.mainImgOnLeft ? -1 : 0,
      };
    },
    textContentSectionStyle() {
      return {
        color: this.textColor,
      };
    },
  },


  mounted() {},


  methods: {
    sanitizeTheHtml(html) {
      return sanitizeHtml(html);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.SimpleContent2-wrap
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  @media screen and (min-width: $tablet)
    display: flex

  .text-content,
  .img-content
    display: flex
    flex-direction: column
    flex: 1 0 50%

  .text-content
  .img-content
    .wrap
      position: relative
      height: 0
      padding-bottom: 100%
      .img
        position: absolute
        height: 100%
        width: 100%
        top: 0
        left: 0
        background-size: contain
        background-repeat: no-repeat
        background-position: center

</style>
