<template lang="pug">
  .SimpleContent1-wrap(:id="id" :style="outerStyle")
    .top-content-area(v-if="$slots['top-content']")
      slot(name="top-content")
    .main-content-area(v-if="$slots['main-content']")
      slot(name="main-content")
</template>


<script>
export default {
  name: 'SimpleContent1',
  components: {},
  props: {
    id: {
      type: [String, Boolean],
      default: false,
    },
    backgroundImage: {
      type: [String, Boolean],
      default: false,
    },
    fullHeight: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      outerStyle: {
        minHeight: this.fullHeight ? '100vh' : 'initial',
        backgroundImage: this.backgroundImage ? `url(${this.backgroundImage})` : 'initial',
      },
    };
  },
  mounted() {},
  methods: {},
};
</script>


<style lang="sass" scoped>
.SimpleContent1-wrap
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-size: cover
  background-position: center
  text-align: center
  .top-content-area,
  .main-content-area
    width: 100%
  .top-content-area
    flex: 0 0 auto
  .main-content-area
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1 1 auto

</style>
