<template lang="pug">
  ScrollTrackerSingle
    .SimpleContent3-wrap(:id="id" :style="outerStyle" slot-scope="{percentage}")
      component(v-if="backgroundImage" :is="parallaxing ? Parallax : 'div'" :imgUrl="backgroundImage" :type="parallaxType" :speed="parallaxSpeed")
      .mask(:style="{backgroundColor: maskRgba}")
      .text-content(:style="textContentSectionStyle")
        Container1(noMaxWidth vCenter)
          .wrap(:is="animating ? WaypointAnimation : 'span'" :overflowPaddingY="50")
            component(:is="titleEl").title {{title}}
          .wrap(:is="animating ? WaypointAnimation : 'span'" :overflowPaddingY="50" :delay="100")
            .copy-container-html(v-if="copyHtml" v-html="sanitizeTheHtml(copyHtml)")
            .copy-container(v-else-if="copy") {{copy}}

      .line(:style="{transform: `scaleX(${percentage / 80})`}")

</template>


<script>
import sanitizeHtml from 'sanitize-html';
import Container1 from '~/components/template/megapage/Container1.vue';
import Parallax from '~/components/template/megapage/Parallax.vue';
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';
import ScrollTrackerSingle from '~/components/template/megapage/ScrollTrackerSingle.vue';

export default {
  name: 'SimpleContent3',
  components: {
    Container1,
    WaypointAnimation,
    Parallax,
    ScrollTrackerSingle,
  },
  props: {
    id: {
      type: [String, Boolean],
      default: false,
    },
    backgroundImage: {
      type: [String, Boolean],
      default: false,
    },
    fullHeight: {
      type: Boolean,
      default: false,
    },
    minHeight: {
      type: [Number, Boolean],
      default: false,
    },
    title: {
      type: String,
      default: 'title',
    },
    titleEl: {
      type: String,
      default: 'p',
      validator(string) {
        const allowedTypes = ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'span', 'div'];
        const condition = allowedTypes.indexOf(string) > -1;
        if (!condition) console.warn('WARNING: invalid title element supplied to SimpleContent3 component. Allowed types are: p, h1, h2, h3, h4, h5, h6, span, div');
        return condition;
      },
    },
    copy: {
      type: [String, Boolean],
      default: false,
    },
    copyHtml: {
      type: [String, Boolean],
      default: false,
    },
    textColor: {
      type: String,
      default: '#000',
    },
    parallaxing: {
      type: Boolean,
      default: false,
    },
    parallaxType: {
      type: String,
      default: 'scroll',
    },
    parallaxSpeed: {
      type: Number,
      default: 0.5,
    },
    animating: {
      type: Boolean,
      default: false,
    },
    // progress: {
    //   type: Number,
    //   default: 0,
    // },
    maskRgba: {
      type: String,
      default: 'rgba(255,255,255,0.8)',
      validator(val) {
        const rxValidRgb = /([R][G][B][A]?[(]\s*([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\s*,\s*([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\s*,\s*([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])(\s*,\s*((0\.[0-9]{1})|(1\.0)|(1)))?[)])/i
        return rxValidRgb.test(val);
      },
    },
  },

  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      outerStyle: {
        minHeight: this.getHeight(),
        backgroundImage: this.backgroundImage ? `url(${this.backgroundImage})` : 'initial',
      },
      WaypointAnimation,
      Parallax,
    };
  },

  computed: {
    textContentSectionStyle() {
      return {
        color: this.textColor,
      };
    },
  },

  mounted() {},


  methods: {
    sanitizeTheHtml(html) {
      return sanitizeHtml(html);
    },
    getHeight() {
      if (this.fullHeight) return '100vh';
      if (this.minHeight) return `${this.minHeight}px`;
      return 'initial';
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.SimpleContent3-wrap
  position: relative
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  text-align: center
  @media screen and (min-width: $tablet)
    display: flex

  .line
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 10px
    // background-color: green
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0) 1%,rgba(30,87,153,1) 10%,rgba(30,87,153,1) 90%,rgba(30,87,153,0) 100%)
    opacity: 0.4
  .mask
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 0

  .text-content
    position: relative
    display: flex
    flex-direction: column
    flex: 1 0 50%
    z-index: 1

    .copy-container-html,
    .copy-container
      font-size: 2rem
      p:last-of-type
        margin-bottom: 0

    .title
      font-size: 5rem
      margin: 0 0 20px

    .big
      font-size: 4rem
      color: #000

</style>
