<template lang="pug">
  .TextImageContentBlock-wrap(:style="outerElementStyle")
    .text(:class="textElementClasses")
      WaypointAnimation(
        :animationName="imagePositionedLeft ? 'fadeRight' : 'fadeLeft'"
        :disable="disableAnimation"
        :hideOverflow="false"
      )
        .number(v-if="numbering") {{numbering}}.
        .title {{title}}
        .copy-container(v-html="copyHTML")
    .image-wrap(:style="imgWrapStyle")
      WaypointAnimation(:delay="0" :disable="disableAnimation")
        .image(:style="imgStyle")
</template>


<script>
import WaypointAnimation from '~/components/template/megapage/WaypointAnimation.vue';

export default {
  name: 'TextImageContentBlock',
  components: {
    WaypointAnimation,
  },
  props: {
    numbering: {
      type: [Number, Boolean],
      default: false,
    },
    title: {
      type: String,
      default: 'title',
    },
    copyHTML: {
      type: String,
      default: '<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi cupiditate deserunt ratione sequi alias harum repudiandae, labore aut. Voluptatum at necessitatibus laborum error quo! Maxime, adipisci. Dolores molestias cumque incidunt?</p>',
    },
    imageUrl: {
      type: String,
      default: 'https://placehold.it/400x300',
    },
    imagePositionedLeft: {
      type: Boolean,
      default: false,
    },
    noMargin: {
      type: Boolean,
      default: false,
    },
    paddingBottom: {
      type: Boolean,
      default: false,
    },
    textColor: {
      type: String,
      default: 'black',
    },
    disableAnimation: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },

  computed: {
    imgWrapStyle() {
      return {
        order: this.imagePositionedLeft ? 0 : 2,
      };
    },

    imgStyle() {
      return {
        backgroundImage: `url(${this.imageUrl})`,
      };
    },

    outerElementStyle() {
      return ({
        marginBottom: this.noMargin ? '0' : '20px',
        paddingBottom: this.paddingBottom ? '20px' : '0',
        color: this.textColor,
      });
    },

    textElementClasses() {
      return [
        this.imagePositionedLeft ? 'right-aligned' : '',
      ];
    },
  },


  methods: {},

};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.TextImageContentBlock-wrap
  display: block
  @media screen and (min-width: $tablet)
    display: flex
    align-items: center
  .text
    font-family: $font2
    order: 1
    margin-bottom: 20px
    @media screen and (min-width: $tablet)
      padding: 20px 40px 20px 0
    &.right-aligned
      @media screen and (min-width: $tablet)
        padding: 20px 0 20px 40px

    .number
      font-size: 6rem
      line-height: 1em
    .title
      font-size: 4rem
      margin-bottom: 20px
    .copy-container
      font-family: $font1
      line-height: 1.4em
      color: $color4

  .image-wrap
    flex: 0 0 auto
    .image
      width: 400px
      max-width: 100%
      height: 250px
      background-position: center
      background-size: cover

</style>
