<template lang="pug">
  .WaypointAnimation-wrap(:style="outerElementStyle" :class="outerElementClasses")
    .animation-wrap(
      v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }"
      :class="animationElementClasses"
      :style="animationElementStyle"
    )
      slot
</template>


<script>

export default {
  name: 'WaypointAnimation',
  components: {},
  props: {
    disable: {
      type: Boolean,
      default: false,
    },
    forceEnter: {
      type: Boolean,
      default: false,
    },
    animationName: {
      type: String,
      default: 'fadeUp',
    },
    duration: {
      type: Number,
      default: 600,
    },
    delay: {
      type: Number,
      default: 400,
    },
    overflowPaddingX: {
      type: Number,
      default: 0,
    },
    overflowPaddingY: {
      type: Number,
      default: 0,
    },
    hideOverflow: {
      type: Boolean,
      default: true,
    },
    flex: { // passes down flex height
      type: Boolean,
      default: false,
    },
    maxHeight: { // passes down flex height
      type: [Boolean, Number],
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      intersectionOptions: {
        root: null,
        rootMargin: '0px 0px 0px 0px',
        threshold: [0, 1],
      },
      firstEnter: false,
    };
  },

  computed: {
    outerElementStyle() {
      return {
        overflow: this.hideOverflow ? 'hidden' : 'initial',
        paddingTop: `${this.overflowPaddingY}px`,
        marginTop: `${this.overflowPaddingY * -1}px`,
        paddingBottom: `${this.overflowPaddingY}px`,
        marginBottom: `${this.overflowPaddingY * -1}px`,
        paddingLeft: `${this.overflowPaddingX}px`,
        marginLeft: `${this.overflowPaddingX * -1}px`,
        paddingRight: `${this.overflowPaddingX}px`,
        marginRight: `${this.overflowPaddingX * -1}px`,
        maxHeight: typeof this.maxHeight === 'number' ? `${this.maxHeight}px` : 'initial',
      };
    },

    outerElementClasses() {
      return [
        this.flex && 'flex',
      ];
    },

    animationElementClasses() {
      if (this.disable) return [];

      return [
        this.firstEnter && 'entered',
        this.animationName,
      ];
    },
    animationElementStyle() {
      if (this.disable) return {};

      return {
        transitionDuration: `${this.duration}ms`,
        transitionDelay: `${this.delay}ms`,
      };
    },
  },

  mounted() {
    if (this.forceEnter) this.firstEnter = true; // needs to be in mounted to fire transition
  },

  methods: {
    onWaypoint({ going, direction }) {
      // going: in, out
      // direction: top, right, bottom, left
      if (this.disable) return;
      if (direction) this.firstEnter = true;
    },
  },
};
</script>


<style lang="sass" scoped>
.WaypointAnimation-wrap
  &.flex
    display: flex
    flex: 1 0 auto
    flex-direction: column
    .animation-wrap
      display: flex
      flex-direction: column
      flex: 1 0 auto

  .animation-wrap
    &.fadeUp
      opacity: 0
      transform: translateY(20%)
      transition-property: opacity, transform
      &.entered
        transform: translateY(0)
        opacity: 1

    &.fadeLeft
      opacity: 0
      transform: translateX(-20%)
      transition-property: opacity, transform
      &.entered
        transform: translateX(0)
        opacity: 1

    &.fadeRight
      opacity: 0
      transform: translateX(20%)
      transition-property: opacity, transform
      &.entered
        transform: translateX(0)
        opacity: 1


    &.scaleIn
      opacity: 0
      transform: scale(0)
      transition-property: opacity, transform
      &.entered
        transform: scale(1)
        opacity: 1


    &.scaleDownIn
      opacity: 0
      transform: scale(5)
      transition-property: opacity, transform
      &.entered
        transform: scale(1)
        opacity: 1

</style>
