<template lang="pug">
  .GridSort-wrap
    p Sort By:
    Dropdown(:data="dropDownOptions" :cbChanged="dropdownUpdate" placeholder="None")
</template>


<script>

export default {
  name: 'GridSort',
  components: {},
  props: {
    sortOption: {
      type: [Boolean, String],
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      dropDownOptions: [
        {
          label: 'None',
          value: 'original-order',
        },
        {
          label: 'A To Z',
          value: 'atoz',
        },
        {
          label: 'Score',
          value: 'score',
        },
      ],
    };
  },
  methods: {
    dropdownUpdate(option) {
      this.$emit('sort', option[0].value);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'

.GridSort-wrap
  display: flex
  align-items: center
  p
    font-family: $font2
    text-transform: uppercase
    margin-right: 10px
</style>

<style lang="sass">
@import '~/assets/sass/mixins.sass'
@import '~/assets/sass/transitions.sass'

.GridSort-wrap
  .dropdown-container
    text-align: center
    &.open .hsy-dropdown > .selected:after
      transform: rotateX(180deg)
  .hsy-dropdown
    text-align: left
    > .selected
      position: relative
      font-family: $font2
      font-weight: 700
      font-size: 2rem
      z-index: 101
      border: none
      border-radius: 0px
      border-bottom: 2px solid #000
      color: #000

    .list
      top: 0
      padding-top: 40px
      .inner
        min-height: 130px
      .item
        padding: 5px 15px
        font-family: $font2
        font-size: 1.5rem
        &.selected
          background: $gradient
          font-size: 1.5rem
          font-family: $font2
          font-weight: 700
          
  .pull-metric-copy-container
    p
      &:last-of-type
        margin-bottom: 0
</style>
