<template lang="pug">
  .GridFilter-wrap
    button.btn(
      @click="filterTrigger(false)"
      :class="{ active : !filterOption }"
    ) Show All
    button.btn(
      @click="filterTrigger(val.categoryid)"
      v-for="(val, key) in categories"
      class="button"
      :class="{ active : filterOption === val.categoryid }"
    ) {{ val.categoryname }}
</template>


<script>

export default {
  name: 'GridFilter',
  components: {},
  props: {
    categories: {
      type: Array,
      required: true,
    },
    filterOption: {
      type: [Boolean, String],
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  methods: {
    filterTrigger(selected) {
      this.$emit('filter', selected);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.GridFilter-wrap
  display: flex
  flex-wrap: wrap
  .btn
    margin-right: 10px
    margin-bottom: 10px
    flex-basis: 100%
    @media screen and (min-width: $phone-wide)
      flex-basis: 45%
    @media screen and (min-width: $tablet)
      flex-basis: auto
      margin-bottom: 0
</style>
