<template lang="pug">
  .InfoOverlay-wrap
    Modal(
      modalName="infoOverlay"
    )
      template(v-if="selectedItem")
        .title-wrap
          p.category(v-if="selectedItem.category") {{ selectedItem.category }}
          p.name {{ selectedItem.itemname }}
        .inner
          .img.flex-item(:style="getImgSrc(selectedItem.itemid)")
          .content.flex-item
            p.subtitle(v-if="selectedItem.subtitleheading") {{ selectedItem.subtitleheading }}
            .copy(v-html="selectedItem.overlayCopy.text")
            .quote-wrap(v-if="selectedItem.overlayCopy.quote")
              p.quote {{ selectedItem.overlayCopy.quote }}
              p.author - {{ selectedItem.overlayCopy.quoteAuthor }}
            .overlay-footer
              a.link(:href="selectedItem.overlayCopy.link" v-if="selectedItem.overlayCopy.link && selectedItem.overlayCopy.linkText") {{ selectedItem.overlayCopy.linkText }}
              button.overlay-score-btn(@click.prevent="scoreBtnClick(selectedItem)" v-if="scoringActive" :class="{'active' : isActive(selectedItem.itemid)}" )
                .score-wrap
                  span Points
                  span.score {{ selectedItem.score }}

                .indicator-wrap
                  FontAwesomeIcon(:icon="faMinus" v-if="isActive(selectedItem.itemid)")
                  FontAwesomeIcon(:icon="faPlus" v-else)
</template>


<script>
import Modal from '~/components/Modal.vue';
import path from 'path';

import { faPlus } from '@fortawesome/free-solid-svg-icons/faPlus';
import { faMinus } from '@fortawesome/free-solid-svg-icons/faMinus';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
  name: 'InfoOverlay',
  components: {
    Modal,
    FontAwesomeIcon,
  },
  props: {
    selectedItem: {
      type: [Object, Boolean],
      default: false,
    },
    selectedItems: {
      type: Array,
      default: () => [],
    },
    scoringActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
      faPlus,
      faMinus,
    };
  },
  methods: {
    isActive(itemid) {
      if (this.selectedItems.find(item => item.name === itemid)) return true;
      return false;
    },
    getImgSrc(slug) {
      try {
        const item = require(`~/assets/img/boxGridAssets/${slug}.jpg`);
        return `background-image: url('${item}')`;
      } catch (err) {
        console.warn(`Warning: Missing asset with the slug: '${slug}'`);
        return 'background-image: url("http://placehold.it/1000")';
      }
    },
    scoreBtnClick(clicked) {
      this.$emit('score-btn-click', clicked);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.InfoOverlay-wrap
  .modal-container
    padding: 0
  .title-wrap
    position: absolute
    left: 0
    top: 20px
    right: 0
    margin: auto
    color: $overlayText
    text-shadow: 2px 2px 20px #000
    .category
      margin: 0
      font-size: 1.4rem
    .name
      margin: 0
      font-size: 5rem
      font-family: $font2
      font-weight: 700

  .inner
    display: flex
    background: $overlayGradient
    color: $overlayText
    flex-direction: column
    @media screen and (min-width: $tablet)
      flex-direction: row
    .flex-item
      box-sizing: border-box
      @media screen and (min-width: $tablet)
        width: 50%

      &.img
        background-size: cover
        background-position: center
        min-height: 200px
      &.content
        padding: 20px 20px 40px 20px
        box-sizing: border-box
        @media screen and (min-width: $tablet)
          padding: 150px 20px 50px 20px
        text-align: left
      .subtitle
        font-size: 3rem
        font-family: $font2
        font-weight: 700
        display: inline-block
        @extend .header-underline
      .copy
        font-size: 2rem
      .quote
        font-size: 3rem
        font-style: italic
        font-family: $font2
        &:before
          content: '"'

        &:after
          content: '"'
      .author
        text-align: right
      .overlay-footer
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        margin-top: 20px
        @media screen and (min-width: $tablet)
          flex-direction: row
        .overlay-score-btn
          display: flex
          align-items: center
          justify-content: space-between
          padding: 20px 40px
          box-sizing: border-box
          background: #fff
          transition: background .3s, color .3s
          border-radius: 60px
          width: 80%
          @media screen and (min-width: $phablet)
            width: 60%
          @media screen and (min-width: $tablet)
            width: auto
            flex-basis: 30%
          &.active
            background: $gradient
            color: #fff
          .score-wrap
            text-align: left
            span
              display: block
            .score
              font-size: 4rem
              font-family: $font2
              font-weight: 700
          .indicator-wrap
            font-size: 4rem


</style>

<style lang="sass">
.InfoOverlay-wrap
  .modal-wrapper
    min-width: 90%
  .modal-container
    padding: 0 !important
    width: 100% !important
    height: 100%
</style>

