<template lang="pug">
  .ItemGrid-wrap
    transition(name="fade")
      .loading(v-if="showLoading")
        p Loading
        FontAwesomeIcon(:icon="faCircleNotch" spin)
    .grid-inner
      .test(ref="testRef")
        no-ssr
          IsotopeComp(:options='gridOptions' :list="appData" @layout="'masonry'" ref="grid" id="root_isotope1" v-images-loaded="layout")
            .item(v-for="element, index in appData" :key="index" :class="{active : isActive(element.itemid)}")
              .animation-wrap
                .item-inner
                  .content(:class="{scoring : appSwitches.scoringActive}")
                    .info-wrap
                      p.category(v-if="element.category") {{ element.category }}
                      p.name {{ element.itemname }}
                      button.btn.white.thin(@click="clickHandleItem(element)") Info
                    .score-wrap(v-if="appSwitches.scoringActive")
                      p Score:
                      p.score {{ element.score }}
                      button.remove(
                        v-if="isActive(element.itemid)"
                        @click="scoreBtnClick(element)"
                      )
                        FontAwesomeIcon(:icon="faMinus")
                      button.add(
                        v-else
                        @click="scoreBtnClick(element)"
                      )
                        FontAwesomeIcon(:icon="faPlus")
                  img(:src="getImgSrc(element.itemid)")

</template>

<script>
import InfoOverlay from '~/components/template/boxGrid/els/InfoOverlay.vue';
import path from 'path';

import { faPlus } from '@fortawesome/free-solid-svg-icons/faPlus';
import { faMinus } from '@fortawesome/free-solid-svg-icons/faMinus';
import { faSpinner } from '@fortawesome/free-solid-svg-icons/faSpinner';
import { faCircleNotch } from '@fortawesome/free-solid-svg-icons/faCircleNotch';

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
  name: 'ItemGrid',
  components: {
    InfoOverlay,
    FontAwesomeIcon,
  },
  props: {
    appData: {
      type: Array,
      required: true,
    },
    categories: {
      type: Array,
      required: true,
    },
    appSwitches: {
      type: Object,
      required: true,
    },
    sortOption: {
      type: [Boolean, String],
      default: false,
    },
    selectedItems: {
      type: Array,
      default: () => [],
    },
    filterOption: {
      type: [Boolean, String],
      default: false,
    },
  },
  data() {
    return {
      faPlus,
      faMinus,
      faSpinner,
      faCircleNotch,
      gridOptions: {
        masonry: {
          gutter: 20,
        },
        percentPosition: true,
        itemSelector: '.item',
        stagger: 30,
        horizontalOrder: true,
        getSortData: {
          atoz(itemElem) {
            return itemElem.itemname;
          },
          score(itemElem) {
            return parseInt(itemElem.score, 10);
          },
        },
        getFilterData: this.categoryFuncs(),
      },
      showLoading: true,
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  watch: {
    filterOption() {
      if (this.filterOption === false) {
        this.$refs.grid.unfilter();
      } else {
        this.$refs.grid.filter(this.filterOption);
      }
    },
    sortOption() {
      this.$refs.grid.sort(this.sortOption);
    },
  },
  mounted() {
  },
  methods: {
    scoreBtnClick(clicked) {
      this.$emit('score-btn-click', clicked);
    },
    isActive(itemid) {
      if (this.selectedItems.find(item => item.name === itemid)) return true;
      return false;
    },
    getImgSrc(slug) {
      try {
        const item = require(`~/assets/img/boxGridAssets/${slug}.jpg`);
        return item;
      } catch (err) {
        console.warn(`Warning: Missing asset with the slug: '${slug}'`);
        return 'http://placehold.it/1000';
      }
    },
    clickHandleItem(el) {
      this.$emit('tile-click', el);
    },
    categoryFuncs() {
      const rtnObj = {};
      this.categories.forEach((singleCategory) => {
        rtnObj[singleCategory.categoryid] = el => el.categoryid === singleCategory.categoryid;
      });
      return rtnObj;
    },
    layout() {
      this.$refs.grid.layout();
      setTimeout(() => {
        this.showLoading = false;
      }, 500);
    },
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.ItemGrid-wrap
  position: relative
  .loading
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    min-height: 100vh
    background-color: #fff
    z-index: 10
    font-size: 5rem
    text-align: center
    font-family: $font2
    font-weight: 700
    color: $color1
    p
      margin: 0


  .item
    display: inline-block
    width: 100%
    margin-bottom: 10px
    box-sizing: border-box
    cursor: pointer
    min-height: 100px
    &.active
      .animation-wrap
        background: $gradient2
      .item-inner
        &:before
          content: ""
          position: absolute
          top: 0
          left: 0
          opacity: 0.3
          background: $gradient2
          box-sizing: border-box
          width: 100%
          height: 100%
          z-index: 0
    @media screen and (min-width: $tablet-small)
      width: 45%
    @media screen and (min-width: $desktop)
      width: 30%
    @media screen and (min-width: $desktop-wide)
      width: 24%
    .animation-wrap
      position: relative
      padding: 5px
      background: $itemBorderColor
      transition: all .2s
      &:hover
        // box-shadow: 10px 5px 5px rgba(#000,0.3)
        transform: scale(1.1)
        z-index: 10

    .item-inner
      position: relative
      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        opacity: 0.3
        background: $overlayGradient
        box-sizing: border-box
        width: 100%
        height: 100%
        z-index: 0
    .content
      display: inline-block
      position: relative
      position: absolute
      bottom: 40px
      width: 100%
      left: 0
      right: 0
      text-align: center
      color: #fff
      z-index: 1
      &.scoring
        display: flex
        justify-content: space-between
        align-items: center
        box-sizing: border-box
        .info-wrap
          padding: 0 10px
          flex-basis: 50%
          border-right: 1px solid #fff
        .score-wrap
          flex-basis: 50%
          p
            margin: 0
            font-size: 1.3rem
            &.score
              font-size: 2.5rem
              line-height: 1em
              margin: 10px 0
              font-family: $font2
              font-weight: 700
          button
            width: 35px
            height: 35px
            box-sizing: border-box
            font-size: 1.6rem
            border-radius: 50%
            transition: color .3s, background .3s
            &.add
              color: #000
              background: #fff
            &.remove
              color: #fff
              background: $gradient
      .category
        margin: 0
        text-shadow: 2px 2px 20px #000
        font-weight: 400
        font-size: 1.3rem
        line-height: 1em
      .name
        font-family: $font2
        font-weight: 700
        font-size: 2.5rem
        margin: 10px 0
        line-height: 1em
        text-shadow: 2px 2px 20px #000


    img
      max-width: 100%
      display: block
  .grid-inner
    background-image: url('~assets/img/content-bg.png')
</style>
