<template lang="pug">
  .ScoringTotal-wrap
    p Total Score:
    .score {{ runningTotal }}

</template>

<script>

export default {
  name: 'ScoringTotal',
  components: {
  },
  props: {
    runningTotal: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
    };
  },
  mounted() {
    // console.log("this.$refs: %o", this.$refs);
  },
  methods: {
  },
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.ScoringTotal-wrap
  padding: 20px
  background: $gradient2
  text-align: center
  p
    font-family: $font2
    text-transform: uppercase
    color: #fff
    margin: 0
    font-weight: 700
    font-size: 3rem
    line-height: 1em
  .score
    font-size: 8rem
    font-family: $font2
    text-transform: uppercase
    color: #fff
    margin: 0
    font-weight: 700

</style>
