<template lang="pug">
  .StickyTotal-wrap
    p Total:
    .count-wrap {{ runningTotal }}
</template>


<script>

export default {
  name: 'StickyTotal',
  components: {
  },
  props: {
    runningTotal: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      baseUrl: process.env.baseUrl || '',
      subfolder: process.env.subfolder || '',
    };
  },
  methods: {},
};
</script>


<style lang="sass" scoped>
@import '~/assets/sass/mixins.sass'
.StickyTotal-wrap
  position: fixed
  width: 100%
  top: 0
  left: 0
  background: $gradient2
  color: #fff
  padding: 20px
  font-family: $font2
  font-weight: 700
  text-align: center
  z-index: 200
  box-sizing: border-box
  @media screen and (min-width: $tablet)
    left: auto
    right: 0
    top: 50%
    width: 75px
  p
    margin: 0
    line-height: 1em
    font-size: 1.5rem
  .count-wrap
    font-size: 3rem
</style>
